
<div id="commentArea">
    

    

       
    <div class="comment-list-area">
        
        
        

        <!-- <pre>
            <p id="commentCount" th:if="${#lists.size(reviewBoard.commentList) == 0}">현재 게시글에 댓글이 존재하지 않습니다.</p>
            <p id="commentCount" th:if="${#lists.size(reviewBoard.commentList) != 0}"><i class="fa-regular fa-comment-dots"></i> <span th:text="${#lists.size(reviewBoard.commentList)}"> &nbsp;&nbsp; </span></p>
        </pre> -->
        <ul id="commentList">

            
          
            <li class="comment-row" 
                th:classappend="${comment.parentCommentNo} != 0 ? child-comment" 
                th:each="comment : ${reviewBoard.commentList}" 
                th:object="${comment}">

            

                <th:block th:if="*{commentDelFl}=='Y'">
                    삭제된 댓글 입니다.
                </th:block>

        <th:block th:if="*{commentDelFl}=='N'"> 
           
        
            <p class="comment-writer">
                <th:block th:with="temp = *{#strings.substringBefore(memberEmail,'@')} ">
                    <span th:text="${#strings.substring(temp,0,1)} + ${#strings.repeat('*',#strings.length(temp)-2)} + ${#strings.substring(temp,#strings.length(temp)-1)}">닉네임</span>
                </th:block>
                <span class="comment-date" th:text="*{commentWriteDate}" style="font-size: 0.65em; margin-left:10px;
                color:#014C73;">작성일</span>
            </p>
            <p class="comment-content" th:text="*{commentContent}">댓글 내용</p>
            <div class="comment-btn-area">
                <button th:onclick="|showInsertComment(*{commentNo}, this)|" id="comment-btn">답글</button>   
                <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == comment.memberNo or session.loginMember?.authorityNo == 1}">
                    <!-- 로그인한 사람과 댓글 쓴 사람의 회원 번호가 같을 때만 수정 삭제 버튼 보이게 하기 -->
                    <button th:onclick="|showUpdateComment(*{commentNo}, this)|" id="comment-btn">수정</button>     
                    <button th:onclick="|deleteComment(*{commentNo})|" id="comment-btn">삭제</button>
                </th:block>
            </div>
            

            

        
        </th:block>


            </li>
            
        </ul>
    </div>
    
    <!-- 댓글 작성 부분 -->
    <div class="comment-write-area">
        <textarea id="commentContent"></textarea>
        <button id="addComment">
            작성
        </button>
    </div>
</div>
<script th:inline="javascript">
    const memberEmail = /*[[*{#strings.substringBefore(memberEmail,'@')}]]*/ "아이디";
    const commentCount = /*[[${commentCount}]]*/"댓글 수";
</script>
<script src="https://kit.fontawesome.com/a373078820.js" crossorigin="anonymous"></script>