<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albaya 알바 후기 게시판</title>
    <link rel="stylesheet" href="/css/reviewBoard/reviewBoardList.css">
    
    <th:block th:replace="~{common/header}"></th:block>
  
</head>

<body>
    <main>
        <section class="reviewBoard-List">
            <div class="list-wrapper">
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>글번호</th>
                            <th>글제목</th>
                            <th>작성자</th>
                            <th>글 쓴 날짜</th>
                            <th>조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="/reviewBoardDetail">샘플 제목 1(테스트용 링크)</a></td> 
                        <td>작성자1</td>
                        <td>2024-01-01</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>샘플 제목 2</td>
                        <td>작성자2</td>
                        <td>2024-01-01</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-area">
                <button id="insertBtn">작성하기</button> 
                <!-- 로그인한 일반 회원만 작성할 수 있도록 th:if 걸어둘 예정 -->
            </div>
        </section>
    </main>
    <script src="/js/reviewBoard/reviewBoardList.js"></script>
</body>
</html>