<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서</title>
    <link rel="stylesheet" href="header.css">
    <script src="https://kit.fontawesome.com/ccebd17005.js" crossorigin="anonymous"></script>
</head>
<header>  
    
        <div id = "menuBar">
            <div id ="logo">
            </div>  
            <ul>
                <a href=""><b>이력서 관리</b></a>
                <a href=""><b>채용정보</b></a>
                <a href=""><b>알바정보</b></a>
                <a href=""><b>알바토크</b></a>
            </ul>
            <div id = "buttons">
                <button id = "search"><i class="fa-solid fa-magnifying-glass"></i>   search</button>
                <button id = "notification"><i class="fa-regular fa-bell"></i></button>
                <button id = "account"><i class="fa-solid fa-user"></i></button>
            </div>
            
            
        </div>

        <div id="container"></div>
    

    
</header>
</html>