<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서 상세 조회</title>
    <link rel="stylesheet" href="/css/member/resumeProfile.css">
    <script src="https://kit.fontawesome.com/ccebd17005.js" crossorigin="anonymous"></script>
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>
    
    <div id="container">
        <div class="popupContainer hide">
            <div class="imgEditPopup">
                <div class = "heading"> 
                    <h2>사진 업데이트</h2>
                </div>
                <div class = "selectFileSpan"> 
                    <span>사진 업데이트:</span>
                </div><br>
                <div class="imageResizePanel">
    
                </div><br>
                <div class = "fileInput"> 
                    <input type=file id="picFile" name="image"></input>
                </div>
                <br><br>
                <div class="finalizingBtns">
                    <button type="button"  class = "cancel">취소</button>
                    <button type="button" class = "update">업데이트</button>
                </div>
            </div>
        </div>
    <!--    <div id="resumeProfileInfo">
            

            <div class="info">프로필</div>
            <div class="info">희망직무</div>
            <div class="info">희망직무</div>
            <div class="info">희망직무</div>
            <div class="info">희망직무</div>
            <div class="info">희망직무</div>
            
        </div> -->

        <div id="profileDetail">
            <br><br>
            <div id="heading">
                <div id="headingContainer">
                    <!-- <div id="profImg">
                        <img th:src="|${resume.imgPath}${resume.imgRename}|" >
                    </div> -->
                    <div id="pesonalInfo">
                        <div  class="info" id="name">
                            <span><h3 th:text="${session.loginMember.memberName}">황진관</h3></span>
                        </div>
                        <div class="info" id="email">
                            <span th:text="${session.loginMember.memberEmail}">jkhwang58@gmail.com</span>
                        </div>
                        <div class="info" id="telNo">
                            <span th:text="${session.loginMember.memberPhoneNumber}">01057823394</span>
                        </div><br><br>
                    </div>
                        <img id="profImg" th:src="|${resume.imgPath}${resume.imgRename}|" >
                    
                    <hr>
                    <button id="backBtn">목록으로&nbsp;<i class="fa-solid fa-arrow-left"></i></button>
                    <!-- <h1>프로필</h1>
                    <p>고용 정보와 인구통계를 관리하여 더 나은 경험을 구축하세요.</p> -->
                </div>
                <!-- <div id="headingImg">
                    <img src="../../static/images/jazz-bend.jpg">
                </div> -->
                
            </div>
            <div id="certInfo">
                <br>
                <div id="title">
                    
                    <h2>나의 이력서</h2>
                </div>
               <div id="applicantDetail">
                    <div class="detail" id="introduction">
                        <span >자기소개</span>
                        <div th:text="${resume.introduce}">dsfdsfdsfsdfdsfsd</div>
                    </div>
                    <br>
                    <hr>
                    <div class="detail" id="qualifications">
                        <span>최종학력</span>
                        <div th:text="${school.educationName}">대학교</div>
                        <div th:text="${school.educationStatusName}">대학교</div>
                        <!-- <div th:text="|${school.schoolPeriod.replaceAll('[^\\d—-]', '').replace('—', '-').replace(' - ', ' ~ ')}|">대학교</div> -->
                        <!-- 
                        th:text="|${school.schoolPeriod.replaceAll('[^\\d-]', '').replace(' - ', ' ~ ')}|"
                        -->
                    </div>
                    <br>
                    <hr>
                    <div class="detail" id="loactionPreferences">
                        <span>희망근무지</span>
                        <div>
                            <th:block th:each="location : ${locationList}">
                                <div th:text="|${location.dosiName}  ${location.sigunguName}  ${location.dongName}|">경기도 파주시 조리읍</div>
                            </th:block>
                        
                            
                            <!-- <div id="headingImg">
                                <img src="/images/jazz-bend.jpg" width="300px" height="250px">
                            </div> -->
                        </div>
                        
                    </div>
                    <br>
                    <hr>
                    <div class="detail" id="jobPreferences">
                        <span>희망 업직종</span>
                        <div>
                            <th:block th:each="type : ${typeNameList}">
                                <div th:text="${type}">음식 음료</div>
                            </th:block>
                            
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="detail" id="careers">
                        <span>경력사항</span>
                        <br>
                        <th:block th:if="${resume.career==0}">
                            <div>신입</div>
                        </th:block>

                        <th:block th:if="${resume.career==2}">
                            <div>경력</div>
                            <th:block th:each=" career: ${careerList}">
                                <div th:text="|${career.companyName}             ${career.startDate}~${career.endDate}|">신입</div>
                            </th:block>
                        </th:block>
                        
                    </div>
                    <br>
                    <hr>
                   
                        
                    
                    <div class="detail" id="certificate">
                        <span>자격증</span>
                        <th:block th:each=" license: ${licenseList}" th:object="${license}">
                        <div id="certificateName" class="certificate" style="display:flex;">
                            <span>자격증명 : </span>
                            <div th:text="*{licenseName}">:&nbsp;정보처리기사</div>
                        </div>
                        <div id="certificateOrg" class="certificate" style="display:flex;">
                            <span>발행기관 : </span>
                            <div th:text="*{licenseFrom}">:&nbsp;CompTIA</div>
                        </div>
                        <div id="certificateScore" class="certificate" style="display:flex;">
                            <span>점수 : </span>
                            <div th:text="*{licenseScore}">:&nbsp;79</div>
                        </th:block>
                        </div>
                    
                    </div>
            
                
                </div>
                <br>
            </div>
            <br>

        </div>
        <!-- <div id="hireList">
            <div id="title">
                <h1>나의 이력서</h1>
            </div>
            <div class="detail" id="inntroduction">
                <span>자기소개</span>
                <div>dsfdsfdsfsdfdsfsd</div>
            </div>
            <div class="detail" id="loactionPreferences">
                <span>희망직무</span>
                <div>
                    <div>경기도 파주시</div>
                    <div>경기도 파주시</div>
                    <div>경기도 파주시</div>
                    <div>경기도 파주시</div>
                    <div>경기도 파주시</div>
                </div>
            </div>
            <div class="detail" id="jobPreferences">
                <span>희망 업직종</span>
                <div>
                    <div>음식 음료</div>
                    <div>음식 음료</div>
                    <div>음식 음료</div>
                    <div>음식 음료</div>
                    <div>음식 음료</div>
                </div>
            </div>
            <div class="detail" id="careers">
                <span>경력사항</span>
                <div>신입</div>
            </div>
            <div class="detail" id="certificate">
                <span>자격증</span>
                <div>정보처리기사</div>
            </div>

        </div>
         -->
        
    </div>
   
    <th:block th:replace="~{common/footer}"></th:block>
    <script src = "/js/member/resumeProfile.js"></script>
    
</body>
</html>