<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서 테이블</title>
    <link rel="stylesheet" href="/css/member/resumeList.css">
    <link rel="stylesheet" href="/css/common/footer.css">
</head>

<body>
    <th:block th:replace="~{common/header}"></th:block>

    <div id="containerss">
        <h1>이력서 관리</h1>

        <!--임시 저장 한 이력서 작성 페이지로 가기  -->
        <div id="resumeWrite">
            <button id="resumeWriteBtn">작성하기</button>
        </div>

        <div class="resumeTable">
            <div class="tableHeading">
                <div class="check">
                    <input type="checkbox" class="tick">

                </div>
                <div class="resumeTitle">
                    <h4>이력서 제목</h4>
                </div>
                <div class="recentUpdateDate">
                    <h4>작성일</h4>
                </div>
                <div class="manage">
                    <h4>관리</h4>
                </div>
                <div class="preferences">
                    <h4>맞춤알바</h4>
                </div>

                <!--   <div><h3>최종 수정일</h3></div>
                <div><h3>관리</h3></div>
                <div><h3>맞춤알바</h3></div> -->
            </div>
            <th:block th:if="${#lists.size(resumeList)==0}">
                <p>작성된 이력서가 없습니다.</p>
            </th:block>
            <th:block th:each=" resume: ${resumeList}" th:object="${resume}">
                <div class="listContents" >
                    <!-- <div class="check">
                        <input type="checkbox" class="tick">
                    </div> -->
                    <div class="resumeTitle">
                        <th:block th:if="*{resumeTitle}">
                            <h3 th:text="*{resumeTitle}" >나의 이력서</h3><span>저장</span>
                        </th:block>
                        <th:block th:unless="*{resumeTitle}">
                            <h3>제목없음</h3><span>저장</span>
                        </th:block>
                        
                    </div>

                    <div class="recentUpdateDate">
                        <p th:text="*{resumeDate}" th:data-resume-no="*{resumeNo}" id="resumeTitle">12/06/2024 14:31</p>
                    </div>
                    <div class="manage">
                        <div id="buttons">
                            <button type="button" class="update" th:data-resume-no="*{resumeNo}">수정</button>
                            <button type="button" class="delete" th:data-resume-no="*{resumeNo}">삭제</button>
                        </div>
                    
                    </div>
                    <div class="preferences">
                        <div>
                        
                            <p th:each="work:*{workList}" th:text="${work.typeName}">고양동/서비스</p>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <th:block th:replace="~{common/footer}"></th:block>
    <script src="/js/member/resumeList.js"></script>
</body>

</html>