<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/member/signup.css">
</head>
<body>
    <h1>회원 가입 페이지</h1>
    <form action="/member/signup" method="POST">
        <div id = "container">
            이메일:<input type="text" name="memberEmail" id="inputEmail">
            비밀번호:<input type="text" name="memberPw" id="inputEmail">
            <div id="telNo">
                전화번호:<input type="text" name="memberPhoneNumber" id="inputTel">
                <button id="memberAuth">인증번호</button>
            </div>
            이름: <input type="text" name="memberName" id="">
            성별:     
            남성 <input type="radio" name="memberGender" id="" value="1">
            여성 <input type="radio" name="memberGender" id="" value="2">
            주소:<input type="text" name="memberAddress" id="">
            <button>검색</button>
        </div>
    </form>  
</body>

<script src="/js/member/signup.js"></script>
</html>