<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역별 공고 조회</title>
    <link rel="stylesheet" href="/css/hire/hire-location.css">
</head>

<body>
    <th:block th:replace="~{common/header}"></th:block>
    <h1>지역별 공고 조회입니다</h1>

    <div class="locaton-search-container">
        <div class="search-header-container">
            <div class="sido-header header">시/도</div>
            <div class="sigungu-header header">시/군/구</div>
            <div class="dong-header header">동/읍/면</div>
        </div>

        <div class="search-body-container">

            <div class="sido-body body">
                <th:block class="sido-body" th:each="dosi : ${dosiList}" th:object="${dosi}">
                    <ul>
                        <li>
                            <button th:text="*{dosiName}">경기</button>
                        </li>
                    </ul>
                </th:block>
            </div>


            <div class="sigungu-body body">
                <ul>
                    <li>
                        <button>일산동구</button>
                    </li>
                </ul>
            </div>

            <div class="dong-body body">
                <ul>
                    <li>
                        <button>마두동</button>
                    </li>
                    <li>
                        <button>마두동</button>
                    </li>
                    <li>
                        <button>마두동</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>









    <th:block th:replace="~{common/footer}"></th:block>
</body>

</html>