<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공고문 조회</title>

    <link rel="stylesheet" href="/css/hire/hire-detail.css">
</head>

<body>

    <div class="header">
        <a href="/">
            <img src="/images/logo.png" alt="logo" id="logo">
        </a>
        <h3>공고문 조회</h3>
    </div>

    <hr>

    <div class="containerAll">

        <form action="/hire/hireDetail" method="POST" id="hireDetailForm">
            <div class="hireContent marginContainal">

                <h3> 모집 내용</h3>


                <div class="hire-container1 container">

                    <div class="titleDetail div1">
                        <p class="title">공고 제목</p>
                        <pre th:text="${hire.hireTitle}">버거킹 알바 모집중😁😁😁</pre>
                    </div>

                    <div class="typeDetail div1">
                        <p class="title">업직종</p>
                        <p th:text="${hire.typeName}">외식/음료</p>
                    </div>

                    <div class="countDetail div1">
                        <p class="title">모집 인원</p>
                        <p th:text="${hire.hireCount}">5명</p>
                    </div>

                    <div class="endDetail div1">
                        <p class="title">모집 종료</p>
                        <p th:text="${hire.hireEnd}">2024-05-23</p>
                    </div>

                </div>
            </div>

            <hr>

            <div class="hireTitleImg marginContainal">
                <img src="/images/titleInput.jpg" alt="제목을 입력하세요" id="titleImage">
                <pre name="hireContent" th:text="${hire.hireTitle}">
                    버거킹 알바 모집중😁😁😁
                        함께 일해요~
                </pre>
            </div>


            <hr>

            <div class="hireCondition marginContainal">
                <h3>근무 조건</h3>

                <div class="hire-container2 container">

                    <div class="termDetail div1">
                        <p class="title">근무기간</p>
                        <p th:text="${hire.hireTerm2}">3-6개월</p>
                    </div>

                    <div class="dayDetail div1">
                        <p class="title">근무요일</p>
                        <p id="days">
                            <th:block th:each="workDay : ${workDayList}">
                                <th:block th:if="${workDay}=='mom'">
                                    <span>월요일</span>
                                </th:block>
                                <th:block th:if="${workDay}=='tue'">
                                    <span>화요일</span>
                                </th:block>
                                <th:block th:if="${workDay}=='wed'">
                                    <span>수요일</span>
                                </th:block>
                                <th:block th:if="${workDay}=='thu'">
                                    <span>목요일</span>
                                </th:block>
                                <th:block th:if="${workDay}=='fri'">
                                    <span>금요일</span>
                                </th:block>
                                <th:block th:if="${workDay}=='sat'">
                                    <span>토요일</span>
                                </th:block>
                                <th:block th:if="${workDay}=='sun'">
                                    <span>일요일</span>
                                </th:block>
                                <th:block th:if="${workDay}=='aa'">
                                    <span>협의가능</span>
                                </th:block>
                            </th:block>
                        </p>
                    </div>

                    <div class="timeDetail div1">
                        <p class="title">근무 시간</p>
                        <div class="time">
                            <div class="div2">
                                <p>시작 시간</p>
                                <p class="time" th:text="${hire.workStart}">9:00</p>
                            </div>
                            <div class="div2">
                                <p>종료 시간</p>
                                <p class="time" th:text="${hire.workEnd}">16:00</p>
                            </div>
                        </div>
                    </div>



                    <div class="payDetail div1">
                        <p class="title">급여</p>
                        <div class="payArea">
                            <p id="payName" th:text="${hire.payName}">시급</p>
                            <p th:text="${hire.payInput}">10000</p>
                        </div>
                    </div>

                    <div class="genderDetail div1">
                        <p class="title">모집 성별</p>
                        <p th:text="${hire.hireGender}">성별 무관</p>
                    </div>

                </div>
            </div>

            <hr>

            <div class="hireAddress marginContainal">


                <h3>근무지 정보</h3>


                <div class="hire-container3 container">
                    <div class="addDiv">
                        <p class="title">근무지 주소</p>
                        <p th:text="${hire.roadAddress}" id="address">서울 중구 서소문로 136</p>
                        <p th:text="${hire.addressDetail}" id="addressDetail">버거킹 시청역점</p>
                    </div>
                    <div id="map"></div>
                </div>
            </div>



            <hr>

            <div class="hireOwnerInfo marginContainal">
                <h3>담당자 정보</h3>


                <div class="hire-container4 container">
                    <div class="shopOwner ">
                        <div class="div1">
                            <p class="title">담당자명</p>
                            <p th:text="${hire.shopOwner}">홍길동</p>
                        </div>

                        <div class="div1">
                            <p class="title">연락처</p>
                            <p th:text="${hire.shopTel}">01011112222</p>
                        </div>

                        <div class="div1">
                            <p class="title">이메일</p>
                            <p th:text="${hire.shopEmail}">qwer@gmail.com</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="btnArea marginContainal">
                <button type="button" id="closeBtn">닫기</button>

                <th:block th:if="${session.loginMember != null}">
                    <button type="button" id="applyBtn" th:hire-no="${hire.hireNo}">지원하기</button>
                </th:block>
                <th:block th:if="${session.loginShop}">
                    <th:block th:if="${session.loginShop.shopNo == hire.shopNo}">
                        <button type="button" id="updateBtn" th:hire-no="${hire.hireNo}">수정하기</button>
                    </th:block>
                </th:block>


            </div>
        </form>
    </div>



    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f2c183bb6985e38b3a2743e0bbbd8e7b&libraries=services"></script>
    <script src="/js/hire/hire-detail.js"></script>
    <th:block th:replace="~{common/footer}"></th:block>
    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";
        // message가 없다면 null

        if (message != null) alert(message);
    </script>
</body>

</html>