<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업직종 선택</title>
</head>

<body>
    <h3>업직종 선택</h3>

    <div class="typeContainer">

        <div class="typeArea">
            <div class="type1">
                <ul class="type1List">
                    <li><button type="button" name="typeNo" value="1" onclick="selectType(this)">외식/음료</button></li>
                    <li><button type="button" name="typeNo" value="2" onclick="selectType(this)">매장관리/판매</button></li>
                    <li><button type="button" name="typeNo" value="3" onclick="selectType(this)">서비스</button></li>
                    <li><button type="button" name="typeNo" value="4" onclick="selectType(this)">사무직</button></li>
                    <li><button type="button" name="typeNo" value="5" onclick="selectType(this)">고객상담</button></li>
                    <li><button type="button" name="typeNo" value="6" onclick="selectType(this)">생산/건설</button></li>
                    <li><button type="button" name="typeNo" value="7" onclick="selectType(this)">운전/배달</button></li>
                    <li><button type="button" name="typeNo" value="8" onclick="selectType(this)">병원/간호/연구</button></li>
                    <li><button type="button" name="typeNo" value="9" onclick="selectType(this)">교육/강사</button></li>
                </ul>
            </div>
        </div>

        <button id="typeSelect">선택하기</button>
    </div>
    

    <script src="/js/hire/hire-popup.js"></script>
</body>

</html>