<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원한 공고보기</title>
    <link rel="stylesheet" href="/css/hire/hireApplyList.css">
</head>

<body>
    <th:block th:replace="~{common/header}"></th:block>

    <main>
        <div class="container">

            <div class="list-container">
                <h3>지원한 공고 내역</h3>
                <ul>
                    <li>지원한 모든 공고를 확인할 수 있습니다.</li>
                    <li>모집이 만료된 공고도 노출됩니다.</li>
                </ul>
            </div>


            <div class="table-container">
                <div class="list-count-area">
                    <span id="list-count" th:text="|총 ${applyCount}건|">총 3건</span>
                </div>

                <table>
                    <thead>
                        <tr class="thead-tr">
                            <th class="title-th">공고문 제목</th>
                            <th class="th">지원 날짜</th>
                            <th class="th">기업 이름</th>
                            <th class="th">모집 마감일</th>
                            <th class="th">지역</th>
                            <th class="th">업직종</th>
                        </tr>
                    </thead>

                    <tbody>
                        <th:block th:each="hire : ${applyList}" th:object="${hire}">
                            <tr class="tbody-tr">
                                <td>
                                    <div class="titles-area">
                                        <a th:href="@{/hire/{hireNo}(hireNo=${hire.hireNo})}" class="title">
                                            <p id="hireTitle" th:text="${hire.hireTitle}">버거킹에서 함께 일할 알바생을 찾습니다‼️🤓🍔</p>
                                        </a>
                                        <th:block th:if="${hire.resumeTitle != null}">
                                            <p id="resumeTitle" th:text="|이력서 명 : ${hire.resumeTitle}|">몸도 마음도 건강한 인재입니다.</p>
                                        </th:block>
                                        <th:block th:if="${hire.resumeTitle == null}">
                                            <p id="resumeTitle" th:text="'해당 공고에 이력서를 제출하지 않았습니다.'">몸도 마음도 건강한 인재입니다.</p>
                                        </th:block>
                                    </div>
                                    
                                    
                                </td>
                                <td class="td" th:text="${#strings.substring(hire.applyDate, 0, 10)}">2024-06-10</td>
                                <td class="td" th:text="*{shopName}">버거킹</td>
                                <td class="td" th:text="${#strings.substring(hire.hireEnd, 0, 10)}">2024-06-10</td>
                                <td class="td" th:text="*{roadAddress}">강서구</td>
                                <td class="td" th:text="*{typeName}">외식/음료</td>
                            </tr>
                        </th:block>
                        
                        


                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
</body>

</html>