<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원서</title>
    <link rel="stylesheet" href="/css/hire/hire-apply-detail.css">
</head>

<body>
    <div class="container">

        <div class="popup-title">
            <h2 class="title-h2">지원서</h2>
        </div>

        <hr class="hr" />


        <div class="popup-content-container">

            <div class="apply-shop-info-container div1">
                <!-- 지원 회사 확인 -->
                <div class="info-title">
                    <h3 class="title-h3">지원회사 확인</h3>
                </div>

                <div class="info">

                    <div class="shopName-container">
                        <span class="span1">근무회사명</span>
                        <span name="shopName">버거깅</span>
                    </div>

                    <div class="hireTitle-container">
                        <span class="span1">공고제목</span>
                        <span name="hireTitle">알바생을 구합니다</span>
                    </div>

                </div>
            </div>


            <!-- 지원내용 -->
            <div class="apply-content-container div1">

                <div class="info-title">
                    <h3 class="title-h3">지원내용</h3>
                </div>

                <div class="resume-select-area">
                    <span class="span1">이력서 보기</span>

                    <div class="radio-area">
                        <div class="resume-link">
                            <a href="/" target="_blank"
                                onclick="window.open(this.href, width=600, height=650,left=300,top=100)">아르바이트
                                경험이 많아 믿고 맡기실 수
                                있습니다.</a>
                        </div>
                    </div>

                </div>

                <div class="apply-title-area">
                    <span class="span1">지원제목</span>
                    <div class="inputTitle">
                        <p>아르바이트 경헙이 많아 믿고 맡기실 수 있습니다.</p>
                    </div>
                </div>


                <div class="apply-content-area">
                    <span class="span1">전달 메시지</span>
                    <div class="inputContent">
                        <pre id="applyContent">전달 메세지 입니다
                            전
                            달
                            메
                            세지입니다.
                        </pre>
                    </div>
                </div>

            </div>


            <!-- 지원정보 확인 -->
            <div class="user-info-container div1">

                <div class="info-title">
                    <h3 class="title-h3">지원자 정보 확인</h3>
                </div>

                <div class="user-info">
                    <span class="memberName span1">이름</span>
                    <span name="memberName">홍길동</span>
                </div>

                <div class="user-info">
                    <span class="memberTel span1">휴대폰</span>
                    <span name="memberPhoneNumber"> 010-1111-2222</span>
                </div>

                <div class="user-info">
                    <span class="memberEmail span1">이메일</span>
                    <span name="memberEmail">hong@gmail.com</span>
                </div>

            </div>

        </div>


        <div class="btn-container div1">
            <button id="btn">확인</button>
        </div>

    </div>

    <script>
        const btn = document.getElementById('btn');
        btn.addEventListener("click", () => {
            window.close();
        })
    </script>
</body>

</html>