<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서</title>
    <link rel="stylesheet" href="/css/common/header.css">
    <script src="https://kit.fontawesome.com/ccebd17005.js" crossorigin="anonymous"></script>
</head>
<header>  
    <div id = "menuBar">
        <div id ="logo"> 
            
        </div>  
        <ul>
            <li><a><b>이력서 관리</b></a></li>
            <li><a><b>채용정보</b></a></li>
            <li><a><b>알바정보</b></a></li>
            <li><a><b>알바토크</b></a></li>
        </ul>
        <div id = "buttons">
            <button id = "search"><i class="fa-solid fa-magnifying-glass"></i>   search</button>
            <th:block th:if="${session.loginMember ==null}">
                <!-- 로그인 안 한 경우 -->
                <a href="/member/login">로그인</a>
                |
                <a href="/member/signup">회원가입</a>
            </th:block>
            <th:block th:unless="${session.loginMember ==null}">
                <!-- 로그인 한 경우 -->
                <button id = "notification"><i class="fa-regular fa-bell"></i></button>
                <button id = "account"><i class="fa-solid fa-user"></i></button>
            </th:block>
            
        </div>
    </div>

    <div id="container"></div>
</header>
<script>
    const ulaafter = document.querySelectorAll("ul>li")

    for(let i =0; i<ulaafter.length;i++){
        ulaafter[i].addEventListener("click", () => {
            ulaafter[i].classList.add("selectedList");
        });
    }
    

</script>
</html>