<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이력서</title>
    <link rel="stylesheet" href="/css/common/header.css">
    <script src="https://kit.fontawesome.com/ccebd17005.js" crossorigin="anonymous"></script>
    <!-- SockJS 라이브러리 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>

<header>
    <div class="menuBar">
        <div class="innerMenuBar">

            <div class="header-left">
                <div class="collab">
                    <div class="searchHeader">
                        <a href="/" id="logo">
                            <img src="/images/ALBAYA_LOGO.png">
                        </a>
                        <input type="text" placeholder="search" id="searchField">
                        <button id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div><br><br>
                    <div id="menus">
                        <ul>
                            <li class="underline" id="goHireKind"><a><b>업직종별</b></a></li>
                            <li class="underline" id="goHireLocation"><a><b>지역별</b></a></li>
                            <li class="underline" id="goReview2"><a><b>알바토크</b></a></li>
                        </ul>
                    </div>

                </div>
            </div>


            <div class="header-buttons">

                <th:block th:if="${session.loginMember != null or session.loginShop !=null}">

                    <!-- 알림 버튼 영역 -->
                    <div class="loginMember notification-container">
                        <!-- 알림 버튼 -->
                        <th:block th:if="${session.loginShop != null}">
                            
                            <button class="notification-btn fa-regular fa-bell" id="my-element"></button>

                        </th:block>

                        <ul class="notification-list notification-showx">
                            <li class="notification-item">
                                <div class="notification-text">
                                    <div class="notification-content-container">
                                        <p class="notification-date"></p>

                                        <!-- 개인 회원의 경우 -->
                                        <p class="notification-content">

                                        </p>

                                        <!-- 기업 회원의 경우 -->
                                        <!--  <p class="notification-content"
                                            th:if="{session.loginShop != null and session.loginMember == null}">
                                            <b>홍길동</b>님이
                                            <b>[쿠팡]</b>에 지원하셨습니다.
                                        </p> -->


                                    </div>

                                </li>
                            </ul>
                    </div>
                </th:block>



                </th:block>



                <button class="loginMember" id="account"><i class="fa-solid fa-user"></i></button>

                <th:block th:if="${session.loginMember != null}">
                    &nbsp;&nbsp;&nbsp;&nbsp;<button class="loggedIn" id="resumeRedirect">이력서 관리</button>
                </th:block>
                <th:block th:if="${session.loginShop != null}">
                    &nbsp;&nbsp;<button class="loggedIn" id="hireListBtn">공고 관리</button>
                </th:block>



                <th:block th:if="${session.loginMember != null}">
                    <a href="/member/logout" class="login logout">로그아웃</a>
                </th:block>

                <th:block th:if="${session.loginShop != null}">
                    <a href="/shop/logout" class="login logout">로그아웃</a>
                </th:block>

                <!-- </th:block> -->

                <th:block th:if="${session.loginMember == null and session.loginShop ==null}">
                    <div id="divdiv">
                        <a href="/member/login" class="login">로그인</a> &nbsp;
                        &nbsp;
                        <a href="/member/selectSignup" class="login">회원가입</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<button class="loggedIn" id="resumeRedirect">이력서 관리</button>
                        &nbsp;&nbsp;<button class="loggedIn" id="hireListBtn">공고 관리</button>
                    </div>
                </th:block>

            </div>

            <!-- <button></button> -->
        </div>

    </div>
    </div>

    <div id="container"></div>
</header>
<script>
    const ulaafter = document.querySelectorAll(".underline");
    const ulaafterEffect = document.querySelectorAll(".underline:hover::after")
    for (let i = 0; i < ulaafter.length; i++) {
        ulaafter[i].addEventListener("click", () => {


            //현재 선택한 요소 뒤에 있는 모든 요소에서 클래스 제거
            for (let j = i + 1; j < ulaafter.length; j++) {
                if (ulaafter[j].classList.contains("selectedList")) {
                    ulaafter[j].classList.remove("selectedList");
                    ulaafter[j].style.pointerEvents = "auto";
                }
            }

            //현재 선택한 요소 앞에 있는 모든 요소에서 클래스 제거
            for (let k = i - 1; k >= 0; k--) {
                if (ulaafter[k].classList.contains("selectedList")) {
                    ulaafter[k].classList.remove("selectedList");
                    ulaafter[k].style.pointerEvents = "auto";


                }
            }
            ulaafter[i].classList.add("selectedList");
            ulaafter[i].style.pointerEvents = "none";
        });
    }


</script>


<script src="/js/common/header.js"></script>
<script src="/js/testsock.js"></script>

</html>