body{
    font-family:'TheJamsil5Bold';
    background-color: rgb(228, 242, 238);

}


@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
 }  


#adminPageBox{
    width: 1900px;
    height:100%;
    margin-top:80px;

}

#declareExplain{
    margin-top:60px;
    font-family:'SUIT-Regular';
    font-size: 25px;
    margin-bottom:100px;
}


.reject{
    font-family:'SUIT-Regular';
    width:90px;
    height:40px;
    font-size:20px;
    margin:7px;
    background-color: green;
    color:white;
    font-size:20px;
    border-radius:15px;
    border:none;
}


.accept{
    font-family:'SUIT-Regular';
    width:90px;
    height:40px;
    font-size:20px;
    margin:7px;
    background-color: rgb(247, 25, 25);
    color:white;
    font-size:20px;
    border-radius:15px;
    border:none;
}


.reject:hover{
    cursor:pointer;
}


.accept:hover{
    cursor:pointer;
}



.table-container {
    width: 80%;
    overflow-x: auto;
    margin-left:290px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.styled-table thead tr {
    background-color: #014C73;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #014C73
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tr > *:nth-of-type(1){
    width:4%;
    text-align:center;
}
    
.styled-table tr > *:nth-of-type(2){
    width:7%;
    text-align:center; 
}

    
.styled-table tr > *:nth-of-type(3){
    width:10%;
    text-align:center;
}
.styled-table tr > *:nth-of-type(4){
    width:39%;
     /* word-break: break-word; 
    word-wrap: break-word;  */
    overflow-y: auto;
   
   
}
.styled-table tr > *:nth-of-type(5){
    width:4%;
    text-align:center;
}
.styled-table tr > *:nth-of-type(6){
    width:10%;
    text-align:center;
}
.styled-table tr > *:nth-of-type(7){
    width:10%;
    text-align:center;
}
.styled-table tr > *:nth-of-type(8){
    width:20%;
}
    

th{
    font-size:14px;
    text-align:center;
}





.pagination{
    list-style: none;
    margin-top:40px;
    display: flex;
    justify-content: center;
    padding: 0;
    font-family: 'SUIT-Regular';
    text-decoration: none;
    font-size:22px;
    margin-right:450px;
 }
 
 .pagination li{
    width: 50px;
    margin: 0 5px;
    text-align: center;
    
 }
 
 .pagination li:hover{
    background-color: #80c7ee;
    transition-duration: 500ms;
    letter-spacing: 0 !important;
    border-radius:10px;
  
   
  
 }
 
 .pagination a{
    display: block;
 
    height: 100%;
 }
 
 .current{
    font-weight: bold;
    background-color: #014C73;
    border-radius: 10px;
    color: white !important;
    letter-spacing: 0 !important;
 }
 

 a{
    text-decoration: none;
    color:black;
 }


 #connectToReviewBoard {
    color : blue;
    font-size:1.5em;
    text-decoration-line: underline;
 }


 #adminTitle{

    margin-left:290px;
 }


 .pagination-area{

    margin-left : 290px;
 }




 #checkMemberStatus{
    margin-left : 290px;
 }


 #checkMemberStatusTitle {

    font-family: 'TheJamsil5Bold';
    font-size : 58px;
    margin-bottom:27px;
 }


 #checkMemberStatusContent {

    font-family: 'TheJamsil5Bold';
    font-size:32px;
    margin-bottom:20px;
 }


 #checkMemberStatusContent2 {

    font-family: 'SUIT-Regular';
    font-size:25px;
    color : #014C73;
 }


 #inputMemberNo {
    margin-top:30px;
    width:100px;
    height:30px;
    font-size:25px;
 }



 #searchBtn {

    margin-left:15px;
    width:90px;
    height:30px;
    background-color: #014C73;
    border : none;
    color: white;
    font-size:20px;
    font-family: 'SUIT-Regular';
    border-radius:5px;
 }

 #searchBtn:hover {

    cursor:pointer;
 }


 #result {
    margin-top:10px;
    font-size:23px;
    font-family: 'SUIT-Regular';

 }

 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}