
#container{
    padding-left:20%;
    padding-right:20%;
}
#menuBar{
    display:flex;
    border:1px solid lightgray;
    height:100px;
    width: 100%;
    margin:-10px;
    background-color: white;
    padding-left:25%;
}
#logo img{
    margin-top:20px;
    width: 170px;
    height:auto; 
}
ul{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:48%;
    height:100%;    
    margin-top:-1px; 
    padding-left:100px;
}

.underline{
    color : #014C73;
    list-style: none;
    text-decoration: none;
    padding-top:29px;
    padding-bottom:29px;
    margin-right:-5%;
    margin-left:-35%;
    position:relative;
    padding-bottom:-6px;
}

.underline::after{
    content:'';
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    transform:scaleX(0);
    transform-origin:center;
    height:5px;
    background-color:lightgray;
    transition:transform 0.25s ease-out;
}
.underline:hover{
    cursor:pointer;
}

.underline:hover::after{
    cursor:pointer;
    transform:scaleX(1);
    transform-origin:center;
}

.selectedList::after{
    width:100%;
    bottom:0;
    left:0;
    height:5px;
    background-color:#014C73;
    transition:transform 360000s ease-in;
}
.selectedNextSibling::after{
    width:100%;
    bottom:0;
    left:0;
    height:5px;
    background-color:white;
}
#buttons{
    display:flex;
    align-items:center;
  
}
#buttons > button{
    height:32px;
    width: 35px;
    margin-left:2%;
    margin-right: 5px;
    border-radius:100%;
    border: 1px solid white;
    background:white;
}
#buttons > button:nth-child(1){
    border-radius: 20px;
    width:100px;
    border:1px solid lightgray;
    border: 1px solid white;
}   
#buttons > button:last-child{
    margin-right:5px;
}   

#buttons > button:hover{
    background: lightgray;
    cursor: pointer;
}
.modified{
    background: blue;
}


#innerMenuBar{
    margin:auto;
    display:flex;
    width:50%;
    border: 1px solid black;
}

#searchHeader{
    display:flex;
}
#searchField{
    width:20px;
}





