*{
    /* border: 1px solid black; */
    font-family: 'SUIT-Regular';
}


/* 제목 전체 폰트 */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  전체 폰트 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 이미지 제목 폰트 */
@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------------------------------ */

.header{

    display: flex;
    margin: auto;
    width: 950px;
    user-select: none;
    font-size: 20px;
    align-items: center;
}
.header h3{font-family: 'GongGothicMedium';}

#logo{
    margin: 0 20px;
    width: 170px;
    height: auto;
}

/* ----------------------------------------------------------- */
/* 모집 내용 */

.container {
   margin: auto;
   width: 900px;
}

.hireContent>h3{
    font-family: 'SUIT-Regular';
    margin-top: 30px;
    margin-bottom: 5px;
    user-select: none;
}

.hireContent-input{
    background-color: #f2f7f7;
    display: flex;
    flex-direction: column;
    margin: 13px;
}

.hireContent-input dl{
    display:  flex;
    margin: 13px;
}

.hireContent-input dt{
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
}

.hireContent-input dd input{
    font-size: 13px;
    user-select: none;
    width: 300px;
}

.hireContent-input dd p{
    margin: 5px 0px;
    font-size: 10px;
    color: rgb(251, 4, 4);

}

#typeBtn{
    padding: 0 15px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
}




/* --------------------------------------------------------------- */

/* 이미지 위 제목 */
.hireTitleImg{
    display: flex;
    align-items: center;
    position: relative;
}

#titleImage{
    margin: auto;
    width: 500px;
}

.hireTitleImg textarea {
    font-family: 'WAGURITTF';
    position: absolute;
    width: 400px;
    height: 60px;
    resize: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: none;
    font-size: 15px;
    outline: none;
    text-align: center;
}


/* --------------------------------------------------------------- */
/* 근무 조건 */
.hireCondition>h3{
    font-family: 'SUIT-Regular';
    margin-top: 30px;
    margin-bottom: 5px;
    user-select: none;
}

.hireCondition-input{
    background-color: #f2f7f7;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.hireCondition-input dl{
    display:  flex;
    margin: 10px;
}

.hireCondition-input dt{
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
}

.hireCondition-input dd input{
    font-size: 10px;
    user-select: none;
}

.hireCondition-input dd p{
    margin: 5px 0px;
    font-size: 10px;
    color: rgb(251, 4, 4);

}

/* 근무 기간 */
.termCheckbox{
    display: flex;
}


.termCheckbox div label{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: linen;
    user-select: none;
    cursor: pointer;
}
.termCheckbox div input{
   display: none;
}

.termCheckbox [name='hireTerm']:checked + label{
    background-color: darksalmon
}

.termCheckbox [name='hireTerm']:hover + label{
    background-color: darksalmon
}




/* 근무 요일 */
.dayCheckbox{display: flex;}

.dayCheckbox div label{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: linen;
    user-select: none;
}

.dayCheckbox [name='workDay']{display: none;}

.dayCheckbox [name='workDay']:checked + label{
    background-color: darksalmon
}


/* 성별 */
.gender-input{
font-size: 13px;
font-weight: bold;
}
/* --------------------------------------------------------------- */
/* 주소, 지도 영역 */
#address{
    width: 300px;
}

.address>h3{
    font-family: 'SUIT-Regular';
    margin-top: 30px;
    margin-bottom: 5px;
    user-select: none;
}

.address-input{
    background-color: #f2f7f7;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.address-input dl{
    display:  flex;
    margin: 10px;
}

.address-input dt{
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
}

.hidden{
    display: none;
}


#map{
    width: 500px;
    height: 300px;
    margin-top: 10px;
}

#addSearchBtn{
    padding: 0 15px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
}






/* --------------------------------------------------------------- */
#payConfirmBtn{
    padding: 0 15px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
}


/* ---------------------------------------------------------------- */
/* 담장자 정보 입력 */
.ownerInfo>h3{
    font-family: 'SUIT-Regular';
    margin-top: 30px;
    margin-bottom: 5px;
    user-select: none;
}

.ownerInfo-input{
    background-color: #f2f7f7;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.ownerInfo-input dl{
    display:  flex;
    margin: 10px;
}

.ownerInfo-input dt{
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
}

.ownerInfo-input dd input{
    font-size: 13px;
    user-select: none;
    width: 300px;
}

.ownerInfo-input dd p{
    margin: 5px 0px;
    font-size: 10px;
    color: rgb(251, 4, 4);

}

#telAddBtn{
    padding: 0 15px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
/* ------------------------------------------------------------------- */
/* 이용약관 */
.agreeArea{
    margin: 20px;
    font-size: 10px;
    user-select: none;
}


/* 버튼 */
.btnArea{
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.btnArea button{
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    border: none;
    background-color: #014C73 ;
    color: white;
    cursor: pointer;
    width: 100px;
}

.btnArea button:hover{
    background-color: #046298;
}

/* ------------------------------------------------------------------ */

/* 유효성 검사 */
.inputConfirm{
    font-size: 10px;
}

.red{
    color: red;
}

.blue{
    color: #014C73 ;
}


/* ------------------------------------------------------------------ */
