<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지/댓글</title>
    <th:block th:replace="~{common/header}"></th:block>
    <link rel="stylesheet" href="/css/common/commentAdmin.css">
</head>

<body>
    <div id="commentAdminPageBox">
        <h1 id="commentAdminTitle">관리자 페이지/댓글</h1>

        <div class="connectToDeclareAdmin-btn">
            <button id="connectToDeclareAdmin">게시글 관리 페이지로 이동</button>
        </div>

        <div class="table-container">
            <table border="1" class="styled-table">
                <thead>
                    <th>번호</th>
                    <th>댓글 내용</th>
                    <th>신고자</th>
                    <th>신고 내용</th>

                    <th>신고 날짜</th>
                    <th>신고받은 사람</th>
                    <th>신고 처리</th>
                </thead>
                <tbody class="tbody">
                    <th:block th:each="commentDeclare : ${commentDeclareList}" th:object="${commentDeclare}">
                        <tr>
                            <td th:text="${commentDeclare.commentDeclareNo}"></td>
                            <td><div class="commentContent" th:text="${commentDeclare.commentContent}"></div></td>
                            <td th:text="${commentDeclare.memberNo}"></td>
                            <td><div class="commentDeclareContent" th:text="${commentDeclare.commentDeclareContent}"></div></td>
                            <td th:text="${commentDeclare.commentDeclareDate}"></td>
                            <td th:text="${commentDeclare.reportedMemberNo}"></td>
                            <td id="buttonArea">
                                <div class="buttonArea">
                                    <button class="reject">반려</button>
                                    <button class="accept">확정</button>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>







        <div class="pagination-area">

            <ul class="pagination" th:unless="${param.key}" th:object="${pagination}">


                <!-- 첫 페이지로 이동 -->
                <li span class="page-link" data-cp="1">&lt;&lt;</span></li>

                <!-- 이전 목록 마지막 번호로 이동 -->
                <li span class="page-link" th:data-cp="*{prevPage}">&lt;</span></li>

                <!-- 특정 페이지로 이동 -->

                <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                    <!-- <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}"> -->

                    <!-- 현재 보고있는 페이지 -->
                    <li th:if="${i} == *{currentPage}">

                        <span class="current" th:text="${i}">현재 페이지</span>
                    </li>

                    <!-- 보고있지 않은 페이지 -->
                    <li th:unless="${i} == *{currentPage}">

                        <span class="page-link" th:data-cp="${i}" th:text="${i}">이동할 페이지</span>
                    </li>

                </th:block>

                <!-- 다음 목록 시작 번호로 이동 -->
                <li><span class="page-link" th:data-cp="*{nextPage}">&gt;</span></li>

                <!-- 끝 페이지로 이동 -->
                <li><span class="page-link" data-cp="*{maxPage}">&gt;&gt;</span></li>


            </ul>

            <div id="commentDeclareExplain" class="explain">
                <li>관리자는 신고 댓글 내용 및 댓글 이용 수칙을 반드시 확인하고 신고를 처리해야 합니다. 충분한 신고 사유가 되지 않으면 반려 처리를 할 수 있습니다.</li>
                <li>신고 처리 확정 버튼을 누르면 신고당한 댓글이 삭제되고 그 댓글의 작성자는 경고 횟수가 1 증가합니다.</li>
                <li>경고 횟수가 3회 누적시 7일간 로그인이 차단됩니다.</li>

            </div>
        </div>


      
  


        <div id="checkMemberStatus">
            <div id="checkMemberStatusTitle">
                회원 상태 확인
            </div>

            <div id="checkMemberStatusContent">회원 번호를 입력하여 회원의 계정 및 경고 횟수를 확인하세요.</div>
            <div id="checkMemberStatusContent2">
                
            </div>


            <div class="search-container">
                <input type="number" id="inputMemberNo">
                <button id="searchBtn">검색</button>
            </div>

            <div id="result">

            </div>
            <th:block th:replace="~{common/footer}"></th:block>

</body>



<script src="/js/common/commentAdmin.js"></script>
<!-- <script src="/js/common/admin.js"></script> -->
<script th:inline="javascript">
    const currentPage = /*[[${pagination.currentPage}]]*/"페이지번호";
    const reviewBoardCode = /*[[${reviewBoardCode}]]*/"보드타입";

</script>


</html>