<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.em.albaya.board.model.mapper.CommentDeclareMapper">


	<!-- 신고 게시판 타입 조회 -->
	<select id = "selectDeclareTypeList">
		SELECT DECLARE_BOARD_CODE "declareBoardCode", DECLARE_BOARD_NAME "declareBoardName"
		FROM DECLARE_TYPE
		ORDER BY DECLARE_BOARD_CODE
	</select>

	<!-- 처리중인 신고 게시물 수 -->
	<select id="getCommentDeclareCount">
		SELECT COUNT(*)
		FROM COMMENT_DECLARE
		WHERE COMMENT_DECLARE_CONDITION = 1
	</select>
	
	<!-- 댓글 신고 목록 조회 -->
	<select id="selectCommentDeclareList">
		SELECT COMMENT_DECLARE_NO ,COMMENT_NO , cd.MEMBER_NO ,
			COMMENT_DECLARE_CONTENT ,COMMENT_DECLARE_CONDITION ,
			COMMENT_DECLARE_DATE ,REPORTED_MEMBER_NO , cd.COMMENT_CONTENT 
		FROM COMMENT_DECLARE cd
		JOIN "COMMENT" c USING(COMMENT_NO)
		WHERE COMMENT_DECLARE_CONDITION = 1
		ORDER BY COMMENT_DECLARE_NO
	</select>
	
	
	
	
	
	<!-- 댓글 신고하기 -->
	<insert id="insertDeclare">
		INSERT INTO COMMENT_DECLARE 
		VALUES(
			SEQ_COMMENT_DECLARE_NO.NEXTVAL,
			#{commentNo},
			#{memberNo},
			#{commentDeclareContent},
			DEFAULT,
			DEFAULT,
			(SELECT MEMBER_NO
			 FROM "COMMENT" 
			 WHERE COMMENT_NO = #{commentNo}),
			DEFAULT,
			(	SELECT COMMENT_CONTENT
				FROM "COMMENT"
				WHERE COMMENT_NO =#{commentNo})
			)
	</insert>
	
	<!-- 댓글 신고 중복 처리 검사 구문 -->
	<select id="duplicateDeclare">
		SELECT COUNT(*)
		FROM COMMENT_DECLARE 
		WHERE COMMENT_NO = #{commentNo}
		AND COMMENT_DECLARE_CONDITION = 1
	</select>
	
	<!-- 신고 당한 회원 중복 검사 -->
	<select id="duplicateMember">
		SELECT COUNT(*)
		FROM COMMENT_DECLARE 
		WHERE REPORTED_MEMBER_NO = #{reportedMemberNo}
		AND COMMENT_DECLARE_CONDITION =1
	</select>


	<!-- 댓글 신고 반려하기 -->
	<update id="rejectDeclare" parameterType="_int">
		UPDATE COMMENT_DECLARE SET 
		COMMENT_DECLARE_CONDITION = 0
		WHERE COMMENT_DECLARE_CONDITION =1
		AND COMMENT_DECLARE_NO = #{commentDeclareNo}
	</update>
	
	<!-- 댓글 신고 확정 -->
	<update id="completeDeclare" parameterType="_int">
		UPDATE COMMENT_DECLARE SET 
		COMMENT_DECLARE_CONDITION = 2
		WHERE COMMENT_DECLARE_CONDITION =1
		AND COMMENT_DECLARE_NO = #{commentDeclareNo}
	</update>
	
	<!-- 신고 당한 멤버 상태 변경 구문 -->
	<update id="changeMemberCondition">
		UPDATE MEMBER
        SET MEMBER_STATUS = CASE
                                WHEN MEMBER_STATUS = 4 THEN 1
                                WHEN MEMBER_STATUS = 1 THEN 2
                                WHEN MEMBER_STATUS = 2 THEN 3
                                ELSE MEMBER_STATUS
                            END
        WHERE MEMBER_NO = (
            SELECT REPORTED_MEMBER_NO
            FROM COMMENT_DECLARE
            WHERE COMMENT_DECLARE_NO = #{commnetDeclareNo}
        )
	</update>
	
	<!-- 신고 확정된 댓글 삭제 -->
	<update id="updateCommentDelete">
		UPDATE "COMMENT" SET 
		COMMENT_DEL_FL = 'Y'
		WHERE COMMENT_NO =(
			SELECT COMMENT_NO
			FROM COMMENT_DECLARE
			WHERE COMMENT_DECLARE_NO = #{commentDeclareNo })
	</update>
	
	<!-- 일주일 정지 	(발표위해 1분으로 변경) -->
	<update id="stopMember">
		UPDATE "MEMBER" SET 
		SUSPEND_PERIOD = CURRENT_DATE + 1/24/60
		WHERE MEMBER_NO = (SELECT REPORTED_MEMBER_NO
		  FROM COMMENT_DECLARE
		  WHERE COMMENT_DECLARE_NO = #{commentDeclareNo})
		AND MEMBER_STATUS = 3
	</update>
	
	<select id="selectManager">
		SELECT *
		FROM "MEMBER"
		WHERE AUTHORITY_NO = 1
		AND MEMBER_NO #{memberNo}
	</select>


</mapper>
