<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.em.albaya.hire.model.mapper.HireMapper">
<!-- 
	<insert id="boardInsert" useGeneratedKeys="true" parameterType="Board">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
		SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO "BOARD" 
		VALUES(#{boardNo}, 
				#{boardTitle},
				#{boardContent},
				DEFAULT,
				DEFAULT,
				DEFAULT,
				DEFAULT,
				#{boardCode},
				#{memberNo}
				)
	</insert>
 -->
	
	<!-- HIRE테이블에만 INSERT -->
	<insert id="hireInsert" useGeneratedKeys="true" parameterType="Hire">
	<selectKey order="BEFORE" resultType="_int" keyProperty="hireNo">
		SELECT SEQ_HIRE_NO.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO "HIRE"
		VALUES(#{hireNo},
				#{shopNo},
				#{typeNo},
				#{payNo},
				#{hireTitle},
				#{hireContent},
				TO_DATE(SYSDATE, 'YYYY-MM-DD'),
				TO_DATE(#{hireEnd}, 'YYYY-MM-DD'),
				#{hireCount},
				#{hireTerm},
				#{hireGender},
				#{hireStatus},
				#{workDay},
				#{payInput},
				#{dongNo},
				#{addressDetail},
				#{workStart},
				#{workEnd}
				
		
		)
	
	</insert>
	<select id="typeNo">
		SELECT TYPE_NO
		FROM WORK_TYPE
		WHERE TYPE_NAME=#{typeName}
	</select>

	<select id="dongNo">
		SELECT DONG_NO
		FROM "DONG"
		WHERE DONG_NAME LIKE '%'||#{dongName}||'%'
	</select>
	
</mapper>
