<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.em.albaya.member.model.mapper.MemberMapper">

	<insert id="signup">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO.NEXTVAL, DEFAULT, #{memberEmail}, #{memberPw}, 
		#{memberPhoneNumber}, DEFAULT, #{memberName}, DEFAULT,
		#{memberGender}, #{memberAddress}, NULL, NULL)
	</insert>
	
	<select id="login" resultType="Member">
		SELECT MEMBER_NO, AUTHORITY_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_PHONE_NUMBER,
		TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE,
		MEMBER_NAME, MEMBER_STATUS, MEMBER_GENDER, MEMBER_ADDRESS,
		TO_CHAR(LAST_MODIFIED_DATE, 'YYYY-MM-DD') LAST_MODIFIED_DATE,
		TO_CHAR(LAST_MODIFIED_PW_DATE, 'YYYY-MM-DD') LAST_MODIFIED_PW_DATE
		FROM "MEMBER"
		WHERE "MEMBER_EMAIL" = #{memberEmail}
		AND MEMBER_STATUS != 5
	</select>
	
	<select id="memberCount" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_PHONE_NUMBER = #{memberPhoneNumber}
	</select>
	
	<select id="findMemberId">
		SELECT MEMBER_EMAIL
		FROM "MEMBER"
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_PHONE_NUMBER = #{memberPhoneNumber}
	</select>
	
	<select id="memberPwCount" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_PHONE_NUMBER = #{memberPhoneNumber}
	</select>
	
	<update id="changePw">
		UPDATE "MEMBER"
		SET MEMBER_PW = #{encPw}
		WHERE MEMBER_EMAIL = #{memberEmail}
	</update>
	
</mapper>
