<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.em.albaya.member.model.mapper.MemberMapper;">

	<insert id="signup">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO, DEFAULT, #{memberEmail}, #{memberPw}, 
		#{memberPhoneNumber}, DEAFULT, #{memberName}, DEFAULT,
		#{memberGender}, #{memberAddress})
	</insert>
	
</mapper>
