<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "kh.em.albaya.myPage.model.mapper.MyPageMapper">
	
	<select id="myPageCheckPw" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NO = #{memberNo}
		AND MEMBER_STATUS != '5'
	</select>
	
	<select id="myPageCheckShopPw" resultType="_int">
		SELECT COUNT(*)
		FROM "SHOP"
		WHERE SHOP_EMAIL = #{shopEmail}
		AND SHOP_NO = #{shopNo}
		AND SHOP_STATUS != '5'
	</select>
	
	<select id="findEncPw" resultType="string">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NO = #{memberNo}
		AND MEMBER_STATUS != '5'	
	</select>
	
	<update id="deleteMember">
		UPDATE "MEMBER"
		SET MEMBER_STATUS = 5
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NO = #{memberNo}
		AND MEMBER_STATUS != '5'
	</update>
	
	<update id="updateMemberPw">
	    UPDATE "MEMBER"
	    SET MEMBER_PW = #{encPw},
	    LAST_MODIFIED_PW_DATE = SYSDATE
	    WHERE MEMBER_NO = #{memberNo}
	    AND MEMBER_STATUS != '5'
	</update>

	
	<select id="findMemberPw" resultType="string">
		SELECT "MEMBER_PW"
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
		AND MEMBER_STATUS != '5'
	</select>
	
	<select id="findShopPw" resultType="string">
		SELECT "SHOP_PW"
		FROM "SHOP"
		WHERE SHOP_NO = #{memberNo}
		AND SHOP_STATUS != '5'
	</select>
	
	<update id="updateShopPw">
	    UPDATE "SHOP"
	    SET SHOP_PW = #{encPw},
	    LAST_MODIFIED_PW_DATE = SYSDATE
	    WHERE SHOP_NO = #{shopNo}
	    AND SHOP_STATUS != '5'
	</update>
	
	<select id="findShopEncPw" resultType="string">
		SELECT SHOP_PW
		FROM "SHOP"
		WHERE SHOP_EMAIL = #{shopEmail}
		AND SHOP_NO = #{shopNo}
		AND SHOP_STATUS != '5'	
	</select>
	
	<update id="deleteShop">
		UPDATE "SHOP"
		SET SHOP_STATUS = 5
		WHERE SHOP_EMAIL = #{shopEmail}
		AND SHOP_NO = #{shopNo}
		AND SHOP_STATUS != '5'
	</update>
	
	<update id="changeProfile">
		UPDATE "SHOP"
		SET SHOP_PROFILE = #{shopProfile}
		WHERE SHOP_NO = #{shopNo}
	</update>
	
	<select id="countHireApply" resultType="_int">
		SELECT COUNT(*)
		FROM APPLY_HIRE
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="memberInfoUpdate">
		UPDATE "MEMBER"
		SET MEMBER_NAME = #{memberName},
		MEMBER_PHONE_NUMBER = #{memberPhoneNumber},
		MEMBER_ADDRESS = #{memberAddress},
		LAST_MODIFIED_DATE = SYSDATE
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="findDongNo" parameterType="map" resultType="int">
	    SELECT DONG_NO
	    FROM "DONG"
	    JOIN "SIGUNGU" USING (SIGUNGU_NO)
	    JOIN "DOSI" USING (DOSI_NO)
	    WHERE REPLACE(DONG_NAME, ' ', '') LIKE '%' || REPLACE(#{dongName}, ' ', '') || '%'
	    AND REPLACE(SIGUNGU_NAME, ' ', '') LIKE '%' || REPLACE(#{sigunguName}, ' ', '') || '%'
	    AND REPLACE(DOSI_NAME, ' ', '') LIKE '%' || REPLACE(#{dosiName}, ' ', '') || '%'
	</select>
	
	<select id="loginShopAddress" resultType="string">
        SELECT 
            DOSI_NAME || ' ' || 
            (CASE 
                WHEN LENGTH(SIGUNGU_NAME) >= 5 THEN 
                    SUBSTR(SIGUNGU_NAME, 1, 3) || ' ' || SUBSTR(SIGUNGU_NAME, 4) 
                ELSE 
                    SIGUNGU_NAME 
            END) || ' ' || 
            DONG_NAME
        FROM "DONG"
        JOIN "SIGUNGU" USING (SIGUNGU_NO)
        JOIN "DOSI" USING (DOSI_NO)
        WHERE DONG_NO = #{dongNo}
	</select>
	
	<update id="shopInfoUpdate">
		UPDATE "SHOP"
		SET SHOP_NAME = #{shopName},
		SHOP_OWNER = #{shopOwner},
		SHOP_TEL = #{shopTel},
		<if test="dongName != null">
			DONG_NO = #{dongNo},
		</if>
		ADDRESS_DETAIL = #{addressDetail},
		LAST_MODIFIED_DATE = SYSDATE
		WHERE SHOP_NO = #{shopNo}
	</update>
	
	<select id="applyList">
		SELECT * FROM "APPLY_HIRE"
		LEFT JOIN "HIRE" USING (HIRE_NO)
		WHERE MEMBER_NO=#{memberNo}
		ORDER BY HIRE_NO DESC
	</select>
	
	<select id="applyCount">
		SELECT COUNT(*) FROM "APPLY_HIRE"
		LEFT JOIN "HIRE" USING (HIRE_NO)
		WHERE MEMBER_NO=#{memberNo}
	</select>
</mapper>
