<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "kh.em.albaya.myPage.model.mapper.MyPageMapper">
	
	<select id="myPageCheckPw" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="findEncPw" resultType="string">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<update id="deleteMember">
		UPDATE "MEMBER"
		SET MEMBER_STATUS = 5
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<update id="updateMemberPw">
	    UPDATE "MEMBER"
	    SET MEMBER_PW = #{encPw},
	    LAST_MODIFIED_PW_DATE = SYSDATE
	    WHERE MEMBER_NO = #{memberNo}
	</update>

	
	<select id="findMemberPw" resultType="string">
		SELECT "MEMBER_PW"
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
</mapper>
