<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.em.albaya.resume.model.mapper.ResumeMapper">
	<resultMap type="Resume" id="resume_rm">
		<id property="resumeNo" column="RESUME_NO"/>
		<collection property="workList"
			select="workInfo"
			column="RESUME_NO"
			javaType="java.util.ArrayList"
			ofType="kh.em.albaya.resume.model.dto.Work"
		/>
	</resultMap>
	<select id="workInfo" resultType="kh.em.albaya.resume.model.dto.Work">
	SELECT RESUME_NO , TYPE_NO, TYPE_NAME
	FROM RESUME 
	JOIN RESUME_WORK USING (RESUME_NO)
	JOIN WORK_TYPE USING (TYPE_NO)
	WHERE RESUME_NO=#{resumeNo}
	</select>
	<!-- 해당 회원이 임시저장했던 이력서 조회해오기 -->
	<select id="semiResumeList">
		SELECT * FROM RESUME
		WHERE MEMBER_NO = #{memberNo}
		AND RESUME_STATUS = 1
	</select>

	<!-- 학력 사항 조회해서 화면 만들기 -->
	<select id="educationList">
		SELECT * FROM "EDUCATION"
		ORDER BY EDUCATION_NO
	</select>
	
	<!-- 직종 조회해서 화면 만들기 -->
	<select id="workList">
		SELECT * FROM "WORK_TYPE"
		ORDER BY TYPE_NO
	
	</select>
	
	<!-- 학력 상태 조회해서 화면 만들기 -->
	<select id="statusList">
		SELECT * FROM "EDUCATION_STATUS"
		ORDER BY EDUCATION_STATUS_NO
	</select>
	
	<!-- 
	/*넘어오는 모든 name값들:
		 * image, resumeTitle, introduce, educationNo, 
		 * //초 : schoolName, educationStatusNo, schoolStartDate, schoolEndDate
		//중 : 동일
		//고 : 동일
		//대 : schoolStartDate, schoolEndDate
		 * 경력 : companyName*, startDate*, endDate* ****0
		 * 자격증 : licenseName*, licenseFrom*, licenseScore*, licenseDate* ****0
		 * dongNo(여러 개 또는 0)* ****0
		 * career (신입1, 경력2)
		 * typeName(직종명)* ****0
		 * resumeStatus(0저장, 1임시저장)
		 *
	 -->
	 <!-- 하나만 들어가는 것만 insert -->
	 <insert id="resume">
	 	<selectKey order="BEFORE" resultType="_int" keyProperty="resumeNo">
		SELECT SEQ_RESUME_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO "RESUME" 
		VALUES(#{resumeNo}, 
				#{memberNo},
				#{career},
				#{resumeTitle},
				#{introduce},
				#{resumeStatus},
				#{imgPath},
				#{imgOriginalName},
				#{imgRename},
				DEFAULT,DEFAULT
				)
	 
	 </insert>
	 
	 <!-- CAREER테이블에 INSERT -->
	 <insert id="career">
	 INSERT INTO "CAREER" 
    VALUES
      (SEQ_CAREER_NO.NEXTVAL,
        #{resumeNo},
        #{companyName},
        TO_DATE(#{startDate}, 'YYYY-MM-DD'),
        TO_DATE(#{endDate}, 'YYYY-MM-DD')
        
      )
	 
	 </insert>
	 
	 <!-- LICENSE 테이블에 INSERT -->
	 <insert id="license">
	 	INSERT INTO "LICENSE"
	 	VALUES (
	 		SEQ_LICENSE_NO.NEXTVAL,
	 		#{resumeNo},
	 		#{licenseFrom},
	 		TO_DATE(#{licenseDate}, 'YYYY-MM-DD'),
	 		#{licenseName},
	 		#{licenseScore}
	 	)
	 </insert>
	 
	 <!-- RESUME_LOCATION 테이블에 INSERT -->
	 <insert id="resumeLocation">
	 	INSERT INTO "RESUME_LOCATION"
	 	VALUES(
	 		SEQ_HOPE_NO.NEXTVAL,
	 		#{resumeNo},
	 		#{dongNo}
	 		
	 	)
	 
	 
	 </insert>
	 
	 <!-- typeName으로 typeNo 찾기 -->
	 <select id="typeNo">
	 	SELECT TYPE_NO FROM "WORK_TYPE"
	 	WHERE TYPE_NAME=#{typeName}
	 </select>
	 
	 <!-- RESUME_WORK 테이블에 INSERT -->
	 <insert id="resumeWork">
	 	INSERT INTO "RESUME_WORK"
	 	VALUES(
	 		#{resumeNo},
	 		#{typeNo}
	 	
	 	)
	 
	 </insert>
	 
	 <!-- RESUME_EDUCATION 테이블에 INSERT -->
	 <insert id="resumeEducation">
	 	INSERT INTO "RESUME_EDUCATION"
	 	VALUES(
	 	SEQ_RESUME_EDU_NO.NEXTVAL,
	 	#{resumeNo},
	 	#{educationStatusNo}, 
	 	#{educationNo},
	 	 #{schoolName},
	 	#{schoolPeriod}
	 	
	 	)
	 </insert>
	 
	 <!-- 해당 회원의 모든 이력서 조회하기(저장,임시저장 모두) -->
	 <select id="allResumeList" resultMap = "resume_rm">
	 	SELECT * FROM "RESUME"
	 	WHERE MEMBER_NO=#{memberNo}
	 	AND RESUME_DEL_FL='N'
	 	ORDER BY RESUME_NO DESC
	 </select>
	 <!-- 한 행이 검색돼서 생길 때마다 resume_rm에 가서 하나의 컬럼값을 더 받아옴 -->
	 
	 <!-- 한 회원이 작성한 이력서 개수 얻어오기 -->
	 <select id="resumeCount">
	 	SELECT COUNT(*) FROM "RESUME"
	 	WHERE MEMBER_NO=#{memberNo}
	 	AND RESUME_DEL_FL='N'
	 
	 </select>
	 
	 <!-- 이력서 삭제 -->
	 <update id="resumeDelete">
	 	UPDATE "RESUME" SET
	 	RESUME_DEL_FL='Y'
	 	WHERE RESUME_NO=#{resumeNo}
	 </update>
	 
	 <!-- ***********상세 조회 ************************* -->
	 <!-- 작성하는 것은 제목, 자기소개, 학력사항,근무지,업직종,경력사항,자격증이다. -->
	 <!-- RESUME 테이블에서 조회 -->
	 <select id="resumeDetail">
	 	SELECT * FROM "RESUME"
	 	WHERE RESUME_NO=#{resumeNo}
	 </select>
	 
	 <!-- CAREER 테이블에서 조회 -->
	 <select id="careerDetail">
	 	SELECT * FROM "CAREER"
	 	WHERE RESUME_NO=#{resumeNo}
	 </select>
	 
	 <!-- LICENSE 테이블에서 조회 -->
	 <select id="licenseDetail">
	 	SELECT * FROM "LICENSE"
	 	WHERE RESUME_NO=#{resumeNo}
	 </select>
	 
	 <!-- RESUME_LOCATION 테이블에서 조회 -->
	 <select id="locationDetail">
	 	SELECT * FROM "RESUME_LOCATION"
	 	WHERE RESUME_NO=#{resumeNo}
	 </select>
	 
	 <!-- RESUME_WORK 테이블에서 조회 -->
	 <select id="workDetail">
	 	SELECT * FROM "RESUME_WORK"
	 	WHERE RESUME_NO=#{resumeNo}
	 </select>
	 
	 <!-- RESUME_EDUCATION 테이블에서 조회 -->
	 <select id="educationDetail">
	 	SELECT * FROM "RESUME_EDUCATION"
	 	JOIN "EDUCATION" USING (EDUCATION_NO)
	 	WHERE RESUME_NO=#{resumeNo}
	 </select>
</mapper>
