body{
            
    font-family:'SUIT-Regular';
    background-color: rgb(240 244 243);
    margin: 0px;

    }

    @font-face {
        font-family: 'TheJamsil5Bold';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
     }
     @font-face {
        font-family: 'SUIT-Regular';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
     }  

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewBoard-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
     
#reviewBoardDetailBox{
    width: 800px;
    min-height: 502px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    margin-top: 70px;
}

.reviewBoard-btn-area{
    display: flex;
    justify-content: flex-end;
}

#reviewBoardInfo{
    padding-left: 18px;
    margin-bottom:20px;
}


#reviewBoardContent-area{
    width:100%;
    min-height: 130px;
    margin-bottom: 10px;
    border-top:2px solid rgb(168, 164, 164);
    padding-top:14px;
}

#updateBtn{
    width: 100px;
    height: 32px;
    background-color: #014C73;
    font-size: 15px;
    color: white;
    /* font-weight: bold; */
    border: none;
    border-radius: 5px;
    margin: 10px;
}


#goToListBtn{
    width: 100px;
    height: 32px;
    background-color: #014C73;
    font-size: 15px;
    color: white;
    /* font-weight: bold; */
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#deleteBtn{
    width: 100px;
    height: 32px;
    background-color: #014C73;
    font-size: 15px;
    color: white;
    /* font-weight: bold; */
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#updateBtn:hover{
    cursor:pointer;
}

#goToListBtn:hover{
    cursor:pointer;
}
#deleteBtn:hover{
    cursor:pointer;
}

#siren{
    background-color:white;
    border : none;
}

#siren:hover{

    cursor:pointer;
    
}

.reviewBoard-btn-area{
    width: 810px;
    /* margin-left: 400*/
}
