body{
            
    font-family:'SUIT-Regular';
    background-color:rgb(228, 242, 238);

    }

    @font-face {
        font-family: 'TheJamsil5Bold';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
     }
     @font-face {
        font-family: 'SUIT-Regular';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
     }  

     
#reviewBoardDetailBox{
    width:1100px;
    min-height:500px;
    border:1px solid black;
    padding-left:10px;
    padding-right:10px;
    margin-top : 70px;
    margin-left: 350px;
}

#reviewBoardInfo{
    padding-left: 18px;
    margin-bottom:20px;
}


#reviewBoardContent-area{
    width:100%;
    min-height: 130px;
    margin-bottom: 10px;
    border-top:2px solid rgb(168, 164, 164);
    padding-top:14px;
}

#updateBtn{
    width: 120px;
    height: 40px;
    background-color: #014C73;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin:10px;
}


#goToListBtn{
    width: 120px;
    height: 40px;
    background-color:#014C73;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin:10px;
}

#deleteBtn{

    width: 120px;
    height: 40px;
    background-color: #014C73;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin:10px;

}

#updateBtn:hover{
    cursor:pointer;
}

#goToListBtn:hover{
    cursor:pointer;
}
#deleteBtn:hover{
    cursor:pointer;
}

#siren{
    background-color:white;
    border : none;
}

#siren:hover{

    cursor:pointer;
    
}

.reviewBoard-btn-area{
    margin-left: 400px;
}
