/* 제목용 글꼴 : 'TheJamsil5Bold' */
/* 일반 글꼴 : 'SUIT-Regular' */


body{
    /* font-family:'TheJamsil5Bold'; */  
    font-family:'SUIT-Regular';

}
@font-face {
   font-family: 'TheJamsil5Bold';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'SUIT-Regular';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}  



body {
   background-color: rgb(240 244 243);
   min-height: 100vh;
}

.reviewBoard-List{
   display: flex;
   min-width: 1000px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.list-wrapper{
   display:flex;
   flex-direction: column;
   justify-content: center;
   margin-top : 50px;
   align-items:center;  
   width: 1100px; 

}

/* 게시판 컨테이너 스타일 */
.list-table {
max-width: 1300px;
width: 1100px;
background-color:white;
padding: 20px;
border-radius: 8px;
/* margin-top: 80px;
margin-left:460px; */

border-collapse: collapse;

}

.list-table tr > *:nth-of-type(1){
width:8%;
}


.list-table tr > *:nth-of-type(2){
width: 43%; 
text-align: center;
padding-left: 50px;
text-decoration: none;
}

.list-table tr > *:nth-of-type(3){
width:15%;

}
.list-table tr > *:nth-of-type(4){
width:15%;
}
.list-table tr > *:nth-of-type(5){
width:8%;
}

a{
   text-decoration: none;
   color:black;
}


/* 테이블 헤더 스타일 */
.list-table th {
background-color: #014C73;
color: white;
font-weight: bold;
padding: 0px;
border-bottom: none;
height:40px;
/* font-family:'TheJamsil5Bold'; */


}

/* 테이블 바디 스타일 */
.list-table td {
padding: 10px 15px;
border-bottom: 1px solid #BDBDBD;
text-align: center;
text-decoration: none;
}

/* 테이블 행 스타일 */
.list-table tr:hover {
background-color: #EAEAEA
}





.btn-area > button{
   width: 100px;
   height: 30px;
   background-color: #ddd;
   font-size: 17px;
   color: rgb(50, 50, 50);
   font-weight: bold;
   border: none;
   margin-left: 700px;
   margin-top: 20px;
   border-radius: 5px;
   /* margin-left: 460px; */
   /* display: flex; */
   /* flex-direction: row; */
   /* justify-content: center; */




}

.btn-area > button:hover{
cursor:pointer;
}



@media screen and (max-width: 800px){
    /* 화면 너비가 0~800px 사이일 때 적용할 CSS 코드 작성 */
 
   .card-item{
     width: 50%;
   }
 }


 #reviewBoardSearch{
    display:flex;
    justify-content: center;
    margin-top:25px;
 }

 #reviewBoardSearch > * {
    margin:10px;
 }


 #searchQuery {

   width: 550px;
   /* height: 40px; */
   border-radius: 10px;
   border: 1px solid #ccc;
   padding: 5px;
 }

 #searchBtn {
   width: 70px;
   height: 30px;
   background-color: #014C73;
   border: none;
   /* font-family: 'TheJamsil5Bold'; */
   font-size: 15px;
   font-weight: bold;
   color: white;
   border-radius: 10px;
 }

 #searchBtn:hover {
    cursor:pointer;

 }




#reviewBoardType {
   display: flex;
   flex-direction: row;
   /* margin-right: 530px; */
   width: 1100px;
   height: 30px;
   margin-bottom: 10px;
   justify-content: flex-start;

}







.box {
  /* font-family: 'TheJamsil5Bold'; */
   border: 1px solid #ddd;
   width: 12%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 15px;
   font-weight: bold;
   margin-right: 20px;
   border-radius: 10px;
   background-color: #EAEAEA;
   color: black;
}

.box:hover {

   cursor:pointer;

}

 .active {

   background-color: #014C73 !important;
   color:white !important;
}






 
.pagination{
   list-style: none;
   margin-top: 45px;
   display: flex;
   justify-content: center;
   padding: 0;
   font-family: 'SUIT-Regular';
   text-decoration: none;
   font-size: 15px;
}

.pagination li{
   width: 20px;
   margin: 0 5px;
   text-align: center;
   
}

.pagination li:hover{
   background-color: #80c7ee;
   transition-duration: 500ms;
   letter-spacing: 0 !important;
   border-radius:10px;
 
  
 
}

.pagination a{
   display: block;

   height: 100%;
}

.current{
   font-weight: bold;
   background-color: #014C73;
   border-radius: 50%;
   color: white !important;
   letter-spacing: 0 !important;
}


.reviewBoardButtonNotice{
   color:red;
}


#commentCount{
   color:aqua;
}