body{
    font-family:'TheJamsil5Bold';
    list-style:none;

}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
 }  


#alba{
    width: 800px;
    margin-bottom: 30px;
    /* position: relative; */
}
#reviewBoardWriteFrm{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

#writeBox{
    width: 800px;
    height: 600px;
    border: 1px solid #ddd;
    /* margin-bottom: 250px; */
    border-radius: 10px;
}

#reviewTitle-area{
    font-size: 20px;
    justify-content: space-evenly;
    display: flex;
    margin: 40px;
    align-items: center;
    
}

#reviewTitle{
    width: 600px;
    height: 25px;
    border-radius: 10px;
    border-color: rgb(184, 171, 171);
    font-family: "inherit";
}

#reviewBoardContent-area{
    font-size: 20px;
    justify-content: space-evenly;
    display: flex;
    margin: 40px;
    border-top: 1px solid grey;
    padding-top: 40px;

}

textarea {
    width: 600px;
    height: 380px;
    border-radius: 10px;
    border-color: rgb(184, 171, 171);
    resize: none;
    padding: 8px;
}

.writeBtn-area{
    display: flex;
    width: 800px;
    justify-content: flex-end;
}

.cancelBtn-area{
    display: flex;
    width: 800px;
    justify-content: flex-end;
}




#writeBtn{
    width: 80px;
    height: 30px;
    background-color: #014C73;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    /* margin-left: 960px; */
    margin-top: 20px;
    border-radius: 5px;

}
#cancelBtn{
    width: 80px;
    height: 30px;
    background-color: #014C73;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    /* margin-left: 960px; */
    margin-top: 10px;
    border-radius: 5px;
}

#writeBtn:hover{
    cursor:pointer;
}

#cancelBtn:hover{
    cursor:pointer;
}


#reviewBoardWriteRuleTitle{
    font-size:30px;
    
}

#reviewBoardWriteRuleContent{
    font-family: 'SUIT-Regular';
    list-style: none;
}

#reviewBoardWritePage{
    font-family : 'TheJamsil5Bold';
    font-size:40px;
    margin-top: 0px;

}


#reviewBoardWriteRule{
     /* margin-right: 350px; */
     width: 800px;
}