body{
    font-family:'TheJamsil5Bold';

}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


#writeBox{
    width:1100px;
    height:600px;
    border:1px solid black;
}

#reviewBoardTitle-area{
    font-size:30px;
    justify-content: space-evenly;
    display: flex;
    margin:40px;
    
}

#reviewBoardTitle{
    width:800px;
    height:35px;
    border-radius:10px;
    border-color:rgb(184, 171, 171);
    font-family : "inherit";
}

#reviewBoardContent-area{
    font-size:30px;
    justify-content: space-evenly;
    display: flex;
    margin:40px;
    border-top : 1px solid grey;
    padding-top:40px;
}

textarea {
    width:800px;
    height:380px;
    border-radius:10px;
    border-color:rgb(184, 171, 171);
    resize:none;
}




#writeBtn{
    width:120px;
    height:40px;
    background-color: #014C73;
    font-size:18px;
    color:white;
    font-weight:bold;
    border:none;
    margin-left:960px;
    margin-top:20px;
    border-radius:15px;

}
#cancelBtn{
    width:120px;
    height:40px;
    background-color: #014C73;
    font-size:18px;
    color:white;
    font-weight:bold;
    border:none;
    margin-left:960px;
    margin-top:20px;
    border-radius:15px;
}

