<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 결과</title>
    <link rel="stylesheet" href="/css/myPage/changePw.css">
    <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>
    <th:block th:if="${session.loginMember != null}">
        <th:block th:replace="~{myPage/changeMemberPw}"></th:block>
    </th:block>
    <th:block th:if="${session.loginShop != null}">
        <th:block th:replace="~{myPage/changePwShop}"></th:block>
    </th:block>
</body>

<script src="/js/myPage/changePw.js"></script>
<script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
    // message가 없다면 null

    if (message != null) alert(message);
</script>
</html>
