<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/myPage/deleteMember.css">

</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>

    <th:block th:if="${session.loginMember != null}">
        <th:block th:replace="~{myPage/deleteMemberPage}"></th:block>
    </th:block>
    <th:block th:if="${session.loginShop != null}">
        <th:block th:replace="~{myPage/deleteShopPage}"></th:block>
    </th:block>
</body>
<script src="/js/myPage/deleteMember.js"></script>

</html>