<main class="main-layout-wrapper">
    <div class="main-container-wrapper">
        <div class="h1-wrapper">
            <h2>Albaya 회원 탈퇴</h2>
        </div>
        
        <div class="main-content-wrapper">
            <div class="notice-area">
                <div class="notice-area-top">
                    <h4>
                        탈퇴 안내 및 유의사항
                    </h4>
                </div>
                
                <div class="notice-area-bottom">
                    <span>1. 탈퇴한 아이디는 <strong>복구</strong>와 <strong>재사용</strong>이 불가능합니다.</span><br>
                    <span>2. 이력서 정보, 구직 활동 내역이 모두 삭제되며, <strong>삭제된 데이터는 복구되지 않습니다.</strong></span><br>
                    <span>3. 회원 탈퇴 시 기존에 작성된 게시물은 삭제되지 않으므로 주의해주세요.</span><br>
                    <span>4. 탈퇴 이후에는 동일한 명의의 재가입도 <strong>신규 회원</strong>으로 등록됩니다.</span>
                    <div class="agreeArea">
                        <input type="checkbox" id="agreeBtn"> &nbsp;&nbsp;&nbsp;
                        <label for="agreeBtn">
                            <span>
                                위 안내사항을 모두 인지했으며 이에 동의합니다.
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="checkPw-area">
                <div class="notice-area-top">
                    <h4>
                        비밀번호 인증
                    </h4>
                </div>
                
                <div class="checkPw-area-bottom">
                    <form action="/myPage/deleteShop" method="POST">
                        <div class="input-area-horizontal">
                            <div class="text-area">
                                아이디
                            </div>
                            <div class="input-area">
                                <input type="text" name="memberEmail" id="memberEmail" readonly
                                th:value="${session.loginShop.shopEmail}">
                            </div>
                        </div>
                        <div class="input-area-horizontal">
                            <div class="text-area">
                                비밀번호
                            </div>
                            <div class="input-area">
                                <input type="password" name="shopPw" id="memberPw">
                            </div>
                        </div>
                    </div>
                    <div class="btn-area-container">
                        <button id="calcelBtn" type="button">취소</button>
                        <button id="okBtn">탈퇴</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>

</main>