<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보</title>
    <link rel="stylesheet" href="/css/myPage/myPageInfo.css">
</head>
<body>

    <th:block th:replace="~{common/header}"></th:block>
    <!-- <div class="h1-wrapper">
        <h2><span th:text="${session.loginMember != null ? session.loginMember.memberName : session.loginShop.shopOwner}" style="color: black;"></span>
            님의<br> Albaya 개인 회원 정보</h2>
    </div> -->
    <th:block th:if="${session.loginMember != null}">
        <th:block th:replace="~{myPage/memberInfo}">

        </th:block>
    </th:block>
    <th:block th:if="${session.loginShop != null}">
        <th:block th:replace="~{myPage/shopInfo}">

        </th:block>
    </th:block>
</body>
<script src="/js/myPage/myPageInfo.js"></script>
<script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
    // message가 없다면 null

    if (message != null) alert(message);
</script>
</html>