<main class="main-layout-wrapper">
    <div class="main-container-wrapper">
        <div class="h1-wrapper">
            <h2><span th:text="${session.loginShop.shopOwner}" style="color: black;"></span>
                님의<br>
            Albaya 기업 회원 정보</h2>
        </div>
        <div class="main-content-wrapper">
            <div class="member-info-container">

                <div class="member-info-header">
                    <h3>회원 정보</h3>
                    <button id="updateMemberInfo">수정</button>
                </div>

                <div class="member-p-area">
                    <p>해당 정보들을 수정하실 수 있습니다.</p>
                </div>

                <div class="member-info-area">
                    <div class="info-row">
                        <div class="info-row-left">
                            <span>최근 수정일</span>
                        </div>
                        <div class="info-row-right">
                            <th:block th:if="${session.loginShop.lastModifiedDate == null}">
                                안전을 위해 정보를 수정해주세요!!
                            </th:block>
                            <th:block th:if="${session.loginShop.lastModifiedDate != null}"
                             th:text="${session.loginShop.lastModifiedDate}">
                            </th:block>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-row-left">
                            <span>연락처</span>
                        </div>
                        <div class="info-row-right">
                            <th:block th:text=
                            "${#strings.concat(#strings.substring(session.loginShop.shopTel, 0, 3),
                                '-', #strings.substring(session.loginShop.shopTel, 3, 7),
                                '-', #strings.substring(session.loginShop.shopTel, 7))}">                
                            </th:block>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-row-left">
                            <span>이메일</span>
                        </div>
                        <div class="info-row-right">
                            <th:block th:text="${session.loginShop.shopEmail}"></th:block>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-row-left">
                            <span>주소</span>
                        </div>
                        <div class="info-row-right">
                            <th:block th:utext="${session.loginShop.fullAddress}"></th:block>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="member-changePw-container">

                <div class="member-changePw-header">
                    <h3>비밀번호</h3>
                    <button id="changePwBtn">변경</button>
                </div>
                <div class="member-changePw-p-area">
                    <p>비밀번호를 주기적으로 변경해 개인정보를 보호하세요.</p>
                </div>
                <div class="member-changePw-status-container">
                    <div class="member-changePw-status">
                        <div class="member-changePw-left">
                            <span>최근 수정일</span>
                        </div>

                        <div class="member-changePw-right">
                            <th:block th:unless="${session.loginShop.lastModifiedPwDate}">
                                안전을 위해 정보를 수정해주세요!!
                            </th:block>
                            <th:block th:if="${session.loginShop.lastModifiedPwDate}"
                            th:text="${session.loginShop.lastModifiedPwDate}">
                            </th:block>
                        </div>

                    </div>
                </div>
            </div>

            <div class="member-withdraw-container">
                <div class="member-withdraw-header">
                    <h3>회원 탈퇴</h3>
                    <button id="deleteBtn">탈퇴</button>
                </div>
            </div>
        </div>
    </div>
</main>