<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/shop/signup.css">
</head>

<body>


    <form action="/shop/signup" method="POST" enctype="multipart/form-data">

        <h1 class="h1">기업 회원가입</h1>

        <div class="profile-img-container">
            <div class="profile-img-area">
                <div class="span-area">
                    <span>기업/점포 대표 이미지를 설정할 수 있습니다.</span>
                </div>
                <div class="img-area">
                    <div class="img-container">
                        <input type="file" id="imageInput" style="display:none" name="profileImg" accept="image/*" />
                        <img id="profileImg" style="display:none;" />
                    </div>
                </div>
                <div class="btn-area">
                    <button id="deleteBtn" type="button">삭제</button>
                    <button id="uploadButton" type="button">이미지 선택</button>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="signup-container-wrapper">


                <div class="signup-info-container">
                    <div class="row">
                        <div class="row-left">
                            <span>아이디(이메일) <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="text" name="shopEmail" id="shopEmail">
                            <span class="red alertSpan" id="emailVerify"></span>
                        </div>
                        <div class="auth-button-area">
                            <button type="button" id="emailBtn">중복확인</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left">
                            <span>비밀번호 <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="password" name="shopPw" id="shopPw" maxlength="20">
                            <span id="pwVerify" class="alertSpan">변경할 비밀번호는 영문 대소문자, 숫자, 특수 문자(!, @, #, _, -, ^)만
                                포함해야하며,
                                8 ~ 20글자 사이만 입력 가능합니다.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left">
                            <span>휴대폰 번호 <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="number" id="inputTel" name="shopTel" placeholder="-제외" oninput="maxLength(11)">
                            <span class="red alertSpan" id="telVerify"></span>
                        </div>
                        <div class="auth-button-area">
                            <button type="button" id="authBtn">인증번호</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left">
                            <span>인증번호 <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="number" id="authKeyCheck">
                        </div>
                        <div class="auth-button-area">
                            <button type="button" id="authCheckBtn">확인</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left">
                            <span>사업자번호 <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="number" name="shopBrn" id="shopBrn" placeholder="-제외">
                            <span class="red alertSpan" id="brnVerif">사업자등록번호 숫자 10자리를 입력해주세요.</span>
                        </div>
                        <div class="auth-button-area">
                            <button type="button" id="brnBtn">중복확인</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left">
                            <span>회사/점포명 <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="text" name="shopName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left" required>
                            <span>대표자명 <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="text" name="shopOwner" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left">
                            <span>주소 <span class="fail">*</span></span>
                        </div>
                        <div class="row-right-phoneNumber">
                            <input type="text" name="shopAddress" id="address" readonly>
                        </div>
                        <div class="auth-button-area">
                            <button type="button" onclick="sample5_execDaumPostcode()">검색</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-left">
                            <span></span>
                        </div>
                        <dd class="row-right-phoneNumber address-dd">
                            <input type="text" name="addressDetail" placeholder="상세 주소">
                        </dd>
                    </div>
                </div>
                <div class="submit-container">
                    <button id="signupBtn">가입하기</button>
                </div>
    </form>
    </div>
    </div>
</body>
<script src="/js/shop/signup.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- 실제 지도를 그리는 JS API 불러오기 -->
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f2c183bb6985e38b3a2743e0bbbd8e7b&libraries=services"></script>

</html>