<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신고 사유 작성</title>
    <link rel="stylesheet" href="/css/reviewBoard/declarePopup.css">
  
  
</head>
<body>
    <div id = "declarePopupTitle">
        <h1>신고 사유 작성 게시판</h1>
    </div>

    <div id="declarePopup-explain">
        <p>후기 게시판에 작성된 내용이 부적합하다고 판단될 경우 신고 사유 작성과 함께 신고해주세요.
            신고 사유에 해당하는 내용 신고 규칙은 다음과 같습니다.
        </p><br>
        <div id="declare-explain">
        <p style="color:rgb(36, 35, 35); font-family:Arial, Helvetica, sans-serif">
        1. 명예훼손, 허위 사실을 근거로 한 비난, 욕설이 포함된 내용 <br><br>
        2. 지적 재산권을 침해하는 내용 <br><br>
        3. 개인정보 보안법에 위반하는 내용 <br><br>
        4. 알바 후기 게시판의 주제와 전혀 상관없는 내용 <br><br>
        5. 광고 목적으로 작성된 내용 <br><br>
        6. 갈등을 조장하는 내용 <br><br>
        7. 기타 상대방이 불쾌하다고 느껴지는 주제를 다루는 내용</p>
        </div>
    </div>
    <div id="declarePopup-explain2">
        <p>신고 처리는 관리자에 의해 최대한 빠른 시간 내에 처리할 예정입니다. 규정에 따라 <br>
        신고 처리가 반려당할 수 있으며 허위 신고임이 밝혀질 경우 신고자가 경고/활동 정지 처분을 <br>

        받을 수도 있습니다. </p>

    <div id="declareMemberEmail">
        [[*{memberEmail}]]

    </div>

    <div id="reported-declare">

    </div>
    </div>
    
    <form action="/declare/insert" method="POST" class="declareFrm" id="declareFrm">
        <div id="declarePopup-Content">


        <textarea name="boardDeclareContent" id="declarePopupContent" maxlength="300" placeholder="신고 사유를 입력하세요(최대 300자)"></textarea>
    </div>

        <div id="declareBtn-area">
            <button type="submit" id="declareBtn" class="declareBtn" >신고하기</button>
        </div>

        <input type="hidden" name="reviewBoardNo" th:value="${param.reviewBoardNo}">
    </form>
    
</body>
<script th:inline="javascript">
    const memberEmail = /*[[*{#strings.substringBefore(memberEmail,'@')}]]*/"신고를 한 사람";
    const reviewBoardCode = /*[[${reviewBoardCode}]]*/"게시판 코드";
    const reviewBoardCondition = /*[[${reviewBoardCondition}]]*/"신고 상태";
    
</script>
    <script src="/js/reviewBoard/declarePopup.js"></script>

</html>