<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALBAYA</title>
    <style>
        body>a {
            font-size: 30px;
        }
    </style>
    <link rel="stylesheet" href="/css/member/header.css">
    <link rel="stylesheet" href="/css/common/main.css">
</head>

<body>
    메인페이지 입니다. <br>
    <a href="/hire/hireWrite">공고 작성 페이지로 이동</a>
    <br>
    <a href="/reviewBoardList">알바 후기 게시판으로 이동</a>
    <br>
    <a href="/hire/hireDetail">공고문 상세 조회</a>


    <br><br>
    <th:block th:replace="~{common/header}"></th:block>

    <section>
        <div class="imgList">
            <div class="list">

                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>


                <div class="imgItem">
                    <img src="/images/shopLogo.jpg" alt="기업 썸네일">
                    <p id="hireTitle">버거킹 알바 모집중😁😁😁
                        함께 일해요~
                    </p>
                    <div class="itemInfo">
                        <p id="payName">급여명</p>
                        <p id="pay">10000</p>
                        <p id="sigunguName">지역(시군구)</p>
                    </div>
                </div>



            </div>
        </div>



        <div class="tableContainer">
            <div class="tableList">
                <table>
                    <thead>
                        <tr class="thead">
                            <th>기업명</th>
                            <th>공고제목</th>
                            <th>근무시간</th>
                            <th>근무지역</th>
                            <th>급여</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr class="tr">
                            <td name="shopName" class="shopName">버거킹</td>
                            <td name="hireTitle" class="hireTitle">버거킹에서 함께 일할 분을 찾습니다‼️🤓🍔</td>
                            <td name="hireTime" class="hireTime">09:00 ~ 16:00</td>
                            <td name="sigunguName" class="sigunguName">서울시 중구</td>
                            <td name="pay" class="pay">10000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="pagination-container">
            <div class="prev-button">이전</div>
            <div class="number-button-wrapper"><span class="number-button">1</span></div>
            <div class="next-button">이후</div>
        </div>

    </section>




    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";
        // message가 없다면 null

        if (message != null) alert(message);
    </script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/main.js"></script>
</body>

</html>