<div id="commentArea">
    <div class="comment-list-area">
        <ul id="commentList">

            <!-- 여기에 있는 li 가 댓글 하나인데 이걸 js로 만들기 -->
            <!-- 대댓글(자식 댓글)인 경우 child-comment 클래스 추가 -->
            <li class="comment-row" 
            th:classappend="${comment.parentCommentNo} != 0 ? child-comment" 
            th:each="comment : ${board.commentList}" 
            th:object="${comment}">
            <!-- 댓글의 parentCommentNo를 조회했는데 
            null
        자바에서 null인 것을 parent_comment_no는 null이면 int타입이라 0으로 들어감
    자식에게 저 클래스를 추가하면 오른쪽으로 살짝 들여쓰기 됨-->

        <th:block th:if="*{commentDelFl}=='Y'">
                    삭제된 댓글 입니다.
        </th:block>

        <th:block th:if="*{commentDelFl}=='N'"> 
            <!-- N일 때 실행할 구문 -->
        
            <p class="comment-writer">
                <!-- 프로필 이미지 없을 경우 -->
                <img th:unless="*{profileImg}" th:src="#{user.default.image}">
                <!-- 프로필 이미지 있을 경우 -->
                <img th:if="*{profileImg}" th:src="*{profileImg}">

                <span th:text="*{memberNickname}">닉네임</span>
                <span class="comment-date" th:text="*{commentWriteDate}">작성일</span>
            </p>

            <p class="comment-content" th:text="*{commentContent}">댓글 내용</p>

            <!-- 버튼 영역 -->
            <div class="comment-btn-area">
                <button th:onclick="|showInsertComment(*{commentNo}, this)|">답글</button>   
                    <!-- onclick하면 showInsertComment 함수 호출
                    commentNo : 답글 남기려는 댓글 번호
                this : 클릭이벤트가 발생한 버튼 자체 -->
                
                <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == comment.memberNo}">
                    <!-- 로그인한 사람과 댓글 쓴 사람의 회원 번호가 같을 때만 수정 삭제 버튼 보이게 하기 -->
                    <button th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>     
                    <button th:onclick="|deleteComment(*{commentNo})|">삭제</button>
                    <!-- 클릭 시 각각의 함수 호출 -->
                </th:block>
                <!-- 로그인 회원과 댓글 작성자가 같은 경우 -->  

            </div>
        </th:block>

            </li>
            
        </ul>
    </div>
</div>