body{
    overflow-x: hidden;
}
#container{
    padding-left:20%;
    padding-right:20%;
}
#menuBar{
    display:flex;
    border:1px solid lightgray;
    height:80px;
    width: 101.8%;
    margin:-10px;
    background-color: white;
}
#logo{
    background-image: url('../../images/logo.png');
    width:25%;
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
    
}
ul{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:50%;
    height:100%;    
    margin-top:-1px; 
    padding-left:100px;
}

ul>a{
    
    text-decoration: none;
    padding-top:29px;
    padding-bottom:29px;
    margin-right:-10%;
    margin-left:-35%;
    position:relative;
    padding-bottom:-6px;
}

ul>a::after{
    content:'';
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    transform:scaleX(0);
    transform-origin:center;
    height:5px;
    background-color:lightgray;
    transition:transform 0.25s ease-out;
}


ul>a:hover::after{
    cursor:pointer;
    transform:scaleX(1);
    transform-origin:center;
}

.selectedList::after{
  
    width:100%;
    bottom:0;
    left:0;
    height:5px;
    background-color:blue;
    transition:transform 0.25s ease-in;
  
    
}
#buttons{
    display:flex;
    align-items:center;
  
}
#buttons > button{
    height:32px;
    width: 35px;
    margin-left:2%;
    margin-right: 5px;
    border-radius:100%;
    border: 1px solid white;
    background:white;
}
#buttons > button:nth-child(1){
    border-radius: 20px;
    width:100px;
    border:1px solid lightgray;
    border: 1px solid white;
}   
#buttons > button:last-child{
    margin-right:5px;
}   

#buttons > button:hover{
    background: lightgray;
    cursor: pointer;
}
.modified{
    background: blue;
}








