body{
    border:rgb(76, 112, 124);
    background-color: rgb(214, 232, 239);
}
#container{
    margin:auto;
    width:1500px;
   padding-bottom:100px;
   margin-bottom:100px;
}
.profileInfo{
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:150px;
    width: 1000px;
    border:1px solid lightgray;
    border-radius: 10px;
    padding:30px;
    padding-bottom: 90px;
    background-color: white;
}

h1{
    text-align: center;
}

#info{
    display:flex;
    flex-direction: column;
    margin-left:50px;
    height:150px;
    width:800px;
}

#addNtel{
    display:flex;
}
.credentials>span:not(span:nth-child(1)){
    margin-left:30px;
}
#telNo{
    margin-left:180px;
}
#profileImg{
    width:150px;
    height:150px;
    border-radius:100%;
    border:1px solid black;
}
#editProfile{
    margin-top:65%;
    margin-left:60%;
    width:50px;
    height:50px;
    border-radius:100%;
    border:1px solid lightgray;
    text-align: center;
    font-size: 30px;
}
#editProfile:hover{
    cursor:pointer;
}
#value{
    margin-left:30px;
}
#email{
    margin-left:17px;
}

#info>div{
    margin-top:20px;
}
#innerProfileContainer{
    display:flex;
   
}
#loadResume{
    display:flex;
    align-items:center;
    border:1px solid ligth;
    height:80px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:10px;
    border:rgb(76, 112, 124);
    /* background-color: rgb(219, 230, 234); */
    
 
}
#loadResume>div:nth-child(1){
    font-size:30px;
}
#loadResume>div{
    margin-left:20px;
}
#loadResume>div>button{
    height:40px;
    background-color: #014C73;
    border-radius:10px;
    border: 1px solid #014C73;
    color:white;
}

#loadResume>div>button:hover{
    cursor:pointer;
}

#resume{
    margin:auto;
    margin-top:20px;
    width: 1000px;
    border:1px solid lightgray;
    border-radius:10px;
    padding-bottom:20px;
    background-color:white;
   
   
}
#resume>h3{
    text-align:center;
}
#resume>div{
    margin:40px;
    margin-left:80px;

}
.resumeElement>ul>li{
    list-style-type: none;
}
input{
    margin:auto;
    height:30px;
    width:600px;
    border-radius:10px;
    border: 1px solid rgb(183, 181, 181);
    padding-left: 20px;
}

hr{
    width:80%;
    background:black;
}

#resumeTitle>hr{
    margin-top:40px;
    width:87%;
    background:black;
}

.required{
    color:red;
}

#tip{
    display:flex;
    border:1px solid black;
    padding-left:10px;
    width:500px;
    margin-bottom:30px;
    border:rgb(76, 112, 124);
    background-color: rgb(203, 221, 228);
}
#tip>p:nth-child(1){
    width:50px;
    border:1px solid rgb(11, 146, 110);
    text-align:center;
    border-radius:10px;
    padding-bottom:2px;
    background:rgb(11, 146, 110);
    color:white;
}

#dropdownContainer{
    display:flex;
}
#dropdownContainer>div:nth-child(2){
    margin:auto;
  
    width:250px;
}

#dropdownContainer>div:nth-child(1){
    width:250px;
}

select{
    margin-left:20px;
    width:150px;
    height:30px;
    border-radius:10px;
}

#schoolContainer > div > input{
    width:500px;
    margin-left:20px;   
}


.show{
    display:block;
}

.hide{
    display:none;
}

input[type="date"]{
    width:100px;
}

#schoolContainer > div > div> input[type="date"]{
    width:100px;
}

.term{
    display:flex;
}

.term>div{
    margin:auto;
}
#sigungu{
    margin-left:200px;
}
#certificateDetail{
    display:flex;
    flex-wrap:wrap;
}
#certificateDetail>div>input[type="text"]{
    width:600px;
}
#organization{
    margin-left:-5px;
}
#score{
    margin-left:25px;
    margin-top:20px;
    width:50px;
}
#issueDetail{
    margin-top:20px;
    margin-left:235px;
}
#issueDate{
    width:200px;
}

.resume{
    margin-left:30px;
    /* background-color: #014C73; */

    background-color: black;
    border-radius:10px;
    /* border: 1px solid #014C73; */
    border: 1px solid black;
    color:white;
    width: 150px;
    height:60px;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
}
.resume:nth-child(1){
    margin-left:-40px;
}
.resume:hover{
    cursor:pointer;
}
.resume:active{
    border-bottom:1px solid black;
    border-right:1px solid black;
    border-top:5px solid gray;
    border-left:5px solid gray;
}

#validatingBtnsContainer{

    display:flex;
    justify-content: center;
    margin-left:200px;
}


#dateContainer{
    margin:0px;
}
#dateContainer>input[type="date"]{
    margin-left:20px;
}

#career{
    display:flex;
    flex-direction: column;
}
#careerSelect{
    margin-left:100px;
   margin-top:-15px;
}
#careerSelect>button{
    height:50px;
    width:168px;
    border:1px solid lightgray;
    background-color: white;
    color:lightgray;
    
}
#careerSelect>button:hover{
    cursor:pointer;
}
#newHire{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#experienced{
   margin-left:-10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.experiencedDetail{
    margin:auto;
    display:flex;
    border-top:1px solid lightgray;
    width:700px;
    padding-top: 40px;
}
.selectedBtn{
    border:1px solid black !important;
    color:black !important;
    position:relative;
    z-index: 10;
}

.hide{
    display:none ;
}

.show{
    display:block;
}

#companyContainer{
    display:flex;
}