/*  전체 폰트 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{font-family: 'SUIT-Regular';}

body{
    background-color: rgb(240 244 243);
    display: flex;
    justify-content: center;
}

.container{
    width: 920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}
button:hover{
  cursor: pointer;
}

h1{
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
}

#containers{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 620px;
    height: 80%;
    /* border: 1px solid black; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid white;
    border-top: 2px solid black;
}

.spanText{
    font-size: 15px;
    font-weight: bold;
}

.div1{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.div2{
    display: flex;
    align-items: center;
}

.title{
    width: 127px;
}

#pwInfo{
    margin: 0px 126px;
    font-size: 13px;
}
.pw-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#inputGender>input{
    width:100px;
}

#inputGender{
    display: flex;
    align-items: center;
}

#inputAddress{
    margin-left:49px;
}

#containers>span{
    margin-left:40px;
}

#containers>div>span{
    font-family: 'TheJamsil5Bold';
}

button{
    margin: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background: lightgray;
    width: 90px;
    height: 35px;
}

#addressSearch{
    margin-left:5px;
}
#inputGender{
    display: flex;
    
}
#inputGender>span:nth-child(2){
    margin-left:50px;
}

#inputGender>div{
    margin-left:50px;
}
#inputGender>div>span:nth-child(2){
    margin-left: 200px;
}
div>input[type=text]{
    margin: 2px 0px;
    /* padding-left: 20px; */
    border-radius: 5px;
    border: 1px solid gray;
    height: 30px;
    width: 350px;
}
div>input[type=password]{
    /* padding-left: 20px; */
    border-radius: 5px;
    border: 1px solid gray;
    height: 30px;
    width: 350px; 
}

#addressContainer{
    margin-left: 40px;
}
.search-add{
    display: flex;
    align-items: center;
}

#inputAuth{
       /* display: flex; */
       margin: -20px 0px 15px 125px;
       /* display: flex; */
       /* flex-direction: column; */

}
.authButton{
    margin-left:8px;
}
.required{
    color:red;
}

.fail{
    color:red;
    font-size: 13px;
}

.success{
    color:green;
    font-size: 13px;
}

button:hover{
    cursor:pointer;
    background-color: darkgray;
}

#emailVerify{
    margin: -20px 0px 15px 125px;
}
#passwordVerify{
    margin: 1px 125px;
}

#nameVerify{
    margin: -20px 0px 50px 125px;
    /* margin-top: -25px; */
}

#register{
    margin:auto;
    margin-top:30px;
    width:200px;
    height:50px;
    background:#014C73;
    color:white;
}

#register:hover{
    cursor:pointer;
}



