* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    background-color: rgb(240 244 243);
    font-family: 'SUIT-Regular';
    height: 1080px;
}

/* 전체 폰트
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */

/*  전체 폰트 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* div{
    border: 1px solid black;
} */

button{
    font-family: 'SUIT-Regular';
}

span{
    font-family: 'SUIT-Regular';
    color: #6a6a6a;
}

button:hover{
    cursor: pointer;
    /* background-color: #014C73; */
}

.main-layout-wrapper{
    display: flex;
    width: 100%;
    height: 1080px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container-wrapper{
    display: flex;
    width: 750px;
    height: 90%;
    flex-direction: column;
}

.h1-wrapper{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: white;
    padding: 15px;
}

.main-content-wrapper{
    display: flex;
    height: 90%;
    flex-direction: column;
}

.member-info-container{
    display: flex;
    height: 40%;
    padding: 15px;
    flex-direction: column;
    background-color: white;
    
}

.member-info-header{
    display: flex;
    justify-content: space-between;
    height: 20%;
    margin-bottom: 10px;
}

.member-info-header > button{
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    height: 80%;
    background-color: white;
}

.member-p-area{
    display: flex;
    height: 15%;
    margin-bottom: 10px;
}

.member-info-area{
    display: flex;
    height: 65%;
    background-color: #f8f8f8;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
}

.info-row{
    display: flex;
    height: 25%;
}

.info-row-left{
    display: flex;
    width: 30%;
    align-items: center;
}

.info-row-right{
    display: flex;
    width: 70%;
    align-items: center;
}

.member-changePw-container{
    display: flex;
    height: 30%;
    flex-direction: column;
    padding: 15px;
    background-color: white;

}

.member-changePw-header{
    display: flex;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 10px;
}

.member-changePw-header > button{
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    height: 80%;
    background-color: white;
}

.member-changePw-p-area{
    display: flex;
    height: 15%;
    margin-bottom: 10px;
}

.member-changePw-status-container{
    display: flex;
    width: 100%;
    height: 43%;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 5px;

    padding: 15px;
}

.member-changePw-status{
    display: flex;
    width: 100%;
    height: 60%;
}

.member-changePw-left{
    display: flex;
    width: 30%;
    align-items: center;
}

.member-changePw-right{
    display: flex;
    width: 70%;
    align-items: center;
}

.member-withdraw-container{
    display: flex;
    height: 30%;
    width: 100%;
    padding: 15px;
    background-color: white;
}

.member-withdraw-header{
    display: flex;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    margin-bottom: 10px;
}

.member-withdraw-header > button{
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    height: 80%;
    background-color: white;
}

.member-withdraw-wrapper{
    display: flex;
    width: 100%;
}

.manager-page-container{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.manager-page-header > button{
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    height: 80%;
    background-color: white;
    
}

.manager-page-header {
    display: flex;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 10px;
}

.declare-count-container{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}


.declare-count-header {
    display: flex;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 10px;
}
